[2017-05-17 20:17] ajwinter opened #1 "Doesn't work correctly in Firefox"

[2017-05-17 20:20] ajwinter opened #2 "Allow individual panes inside the editing interface to be resized"
![screen shot 2017-05-17 at 2 20 15 pm](https://cloud.githubusercontent.com/assets/3341874/26174259/fae1be8a-3b0b-11e7-8899-b5f0d2f7e939.png)

[2017-05-17 20:22] ajwinter opened #3 "Consistent object naming scheme"
Stories should be named incrementally (Story 1, Story 2, etc.), whereas Spaces should be unique.

Outstanding question: how unique do spaces need to be? It's an odd user experience to get a random number as it is currently, but it does solve having "Space 2" exist in multiple places (for example).

[2017-05-17 20:23] ajwinter opened #4 "Space name validation issue"
If you rename a space to under 5 characters, you will correctly get a validation error. However, if you then rename the space to longer than 5 characters, you continue to get that same validation error (it doesn't get cleared).

[2017-05-17 20:28] ajwinter opened #5 "Intersecting geometry doesn't work if the geometry doesn't share any vertices"
If you close the geometry shape as shown in the screenshot, it will clear the old geometry instead of joining them together as it should.

![screen shot 2017-05-17 at 2 26 55 pm](https://cloud.githubusercontent.com/assets/3341874/26174536/f0b11a18-3b0c-11e7-98a1-f53bcab57b81.png)

[2017-05-17 20:30] wintersieck opened #6 "Move "Create Object" button to library pane"
Create object button should be down in the library/bottom grid edit next to the type drop down.  Should make an object of the current active type, if story is needed should set to current story.

[2017-05-17 20:30] wintersieck opened #7 "Hide scroll bars until the number of things exceeds the window size"

[2017-05-17 20:31] ajwinter opened #8 "Add an "Import Library" button that only adds new library objects (Constructions, Daylighting Controls, Windows)"

[2017-05-17 20:32] wintersieck opened #9 "Display geometry from the "previous" story on the current story, for reference"
For example, display geometry from story 1 when drawing story 2, and allow the user to snap to that geometry (but don't allow the user to edit geometry on stories other than the current story).

[2017-05-17 20:33] ajwinter opened #10 "Fill: click in space below to create new space at current level with same geometry"
If the user enables viewing of previous-story geometry, then let them double click that geometry to create a space of the same geometry on the current story

[2017-05-17 20:34] ajwinter opened #11 "Display space name in drawing area"
Display the name of the space inside the space geometry in the drawing pane

[2017-05-17 20:34] ajwinter opened #12 "Erase mode is intermittent in which spaces it erases"

[2017-05-17 20:34] ajwinter opened #13 "Allow the Escape button to cancel the current operation of drawing a space"

[2017-05-17 20:35] ajwinter opened #14 "Allow snapping to angles (vertical/horizontal)"

[2017-05-17 20:36] wintersieck opened #15 "Set initial map location and rotation"
Allow setting either by panning to the correct location, or by entering an address (likely using Google Places Autocomplete).

[2017-05-17 20:37] wintersieck opened #16 "Re-importing data doesn't work currently"
Some items come in skewed

[2017-05-17 20:38] ajwinter opened #17 "Place window objects"

[2017-05-17 20:38] ajwinter opened #18 "Resizing the browser window causes scaling to break"

[2017-05-17 21:50] #9 closed, assigned to essential-breads

[2017-05-18 17:20] ajwinter opened #19 "Rename objects when importing if necessary"
When importing an object, if the object type and name perfectly matches an existing object, then rename the new imported object to the next available number. For example, if "Object" already exists, then rename the new object to "Object 2".

[2017-05-19 21:49] devKate opened #20 "Grid doesn't immediately reload when opening a floorplan"
When certain floorplans are opened, the grid will not update until the user pans. This seems to only happen if geometry is drawn after panning when the floorplan is created.

[2017-05-22 17:05] #16 closed, assigned to essential-breads

[2017-05-22 20:10] #15 closed

[2017-05-22 20:38] wintersieck opened #21 "Change background color to white when map is disabled"

[2017-05-23 00:52] macumber opened #22 "Add open floorplan option to initial modal dialog"
If you start in no map mode, then importing floorplan with map does not work.

[2017-05-23 00:53] macumber opened #23 "Should not need explicit pan mode button"
zoom should always scroll, grab and drag should always pan except in drag mode

[2017-05-23 00:58] macumber opened #24 "Polygon/rectangle clicks don't always register"
sometimes i have to click twice, other times i can never get it to create a point

[2017-05-23 01:00] macumber opened #25 "Add refresh button"
Keep current model but refresh all views in case something went wrong

[2017-05-23 01:03] macumber opened #26 "Disable buttons that are not working"
- [x] Disable "Place Component" and "Apply Property" buttons until they are working.
- [x] Remove "Create Object" button (eventually move to library, https://github.com/NREL/openstudio-geometry-editor/issues/6)
- [x] Disable drag button except when in image mode
- [ ] Rectangle, Polygon, and Eraser tools should be disabled except when in space or shading mode

[2017-05-23 01:04] macumber opened #27 "Start grid/library view on "Space" instead of "Shading"."

[2017-05-23 01:05] macumber opened #28 "Change default units to feet (default spacing shows 50 m)."

[2017-05-23 01:05] macumber opened #29 "Group grid on/off check box with grid spacing text box."
All the grid controls should be located together

[2017-05-23 01:06] macumber opened #30 "Keep grid labels ledgible"
When grid is too fine, need to avoid labeling every line, grid labels become unusable

[2017-05-23 01:07] macumber opened #31 "Numeric feedback when drawing"
- [x] Show distance of current line segment for polygons
- [x] Show width + height for rectangles
- [x] Show area for shapes when drawing

Show as tooltip, ideally at centroid of shape being drawn

[2017-05-23 01:11] macumber opened #32 "Y axis is reversed"
Y should increase going up on the screen

X should increase going to the right when looking at screen

If north angle is zero then Y is pointing north and X is pointing east, when north angle is not zero then Y is building north as shown here:

http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-simulation-parameters.html#building

[2017-05-23 01:13] macumber opened #33 "Display north axis"
- [ ] Synchonized North axis should be with map rotation
- [ ] Y -axis increases going up, positive Y direction is building north as shown here http://bigladdersoftware.com/epx/docs/8-7/input-output-reference/group-simulation-parameters.html#building
- [ ] Set north axis in non-map mode
- [ ] Show north axis as an arrow in upper left corner pointing in direction of north in both map and non-map mo

[2017-05-23 16:36] shorowit opened #34 "Cannot delete story"
Deleting a story does not do anything. Do we need user confirmation if there are spaces (drawn?) on the story?

[2017-05-23 16:40] shorowit opened #35 "TypeError: Cannot read property 'edgeRefs' of undefined"
Create a rectangular space from top-left to bottom-right like so:
![error1](https://cloud.githubusercontent.com/assets/5861765/26365167/fc48119c-3fa3-11e7-9bbd-ad652e5aabd0.png)

Then create a new story:
![error2](https://cloud.githubusercontent.com/assets/5861765/26365181/04f52762-3fa4-11e7-8449-9dbcc57067a9.png)

Then go back to the first story, create a new space, and draw a rectangular space f

[2017-05-23 16:44] gh-23378 opened #36 "Disable the drag tool unless you are in image mode"

[2017-05-23 16:50] shorowit opened #37 "Not all spaces being intersected"
(All spaces drawn from top-left to bottom-right.)

Draw rectangular space:
![error1](https://cloud.githubusercontent.com/assets/5861765/26365665/82741404-3fa5-11e7-8cd3-eab334c9d9fd.png)

Draw 2nd rectangular space:
![error2](https://cloud.githubusercontent.com/assets/5861765/26365676/89857a08-3fa5-11e7-9b8e-48eb734c6dc6.png)

Draw 3rd rectangular space:
![error3](https://cloud.githubusercontent.c

[2017-05-23 17:09] shorowit opened #38 "Default to Space in the lower pane"
Currently defaults to Type: Shading.

[2017-05-23 17:10] shorowit opened #39 "Create/select new space when creating a story"
When creating a new story, automatically create (and select) a new space for that story.

[2017-05-23 17:23] #38 closed, assigned to nobody

[2017-05-23 17:49] shorowit opened #40 "Place Map quirks"
Search for address: 4500 Squires Circle, Boulder CO

Resulting map (below) doesn't actually show the street. Can this be fixed?
![placemap1](https://cloud.githubusercontent.com/assets/5861765/26368059/bb2c2c20-3fad-11e7-9a31-e80ba2927848.png)

Next, scroll up and to the left to find the street:
![placemap2](https://cloud.githubusercontent.com/assets/5861765/26368062/bd14cc86-3fad-11e7-9ac1-9aaafe0

[2017-05-23 18:02] shorowit opened #41 "Contextual mouse cursors"
Use different cursors for different modes? Some of these (like for Pan) might only be applied when the mouse is over a space as opposed to anytime you're in that mode.

Default (or Crosshair?) for Rectangle/Polygon/Eraser
Move for Drag/Pan
Pointer for Select/PlaceComponent/ApplyProperty

[2017-05-23 18:07] shorowit opened #42 "Previous Story"
Rename checkbox to "Story Below" (or "Below Story").

Use dashed lines for the border of below story spaces to make it more obvious what spaces are on the current story and what are on the story below.

[2017-05-24 17:30] #21 closed

[2017-05-24 17:30] #22 closed

[2017-05-24 17:30] #24 closed

[2017-05-24 17:30] #26 closed

[2017-05-24 17:30] #27 closed

[2017-05-24 17:30] #29 closed

[2017-05-24 18:15] #36 closed, assigned to nobody

[2017-05-24 18:34] macumber opened #43 "Prevent self-intersecting polygons from being drawn"
Alternatively you could unwind it so it is not self-intersecting but I think that would be difficult

![image](https://cloud.githubusercontent.com/assets/1327850/26419537/43d5c66a-407d-11e7-912b-5c947449c15f.png)

[2017-05-24 18:36] macumber opened #44 "Opening floorplan should restore grid"
I drew the following square with a 50 m grid, then re-opened the file.  Now the shape does not match the grid.

![image](https://cloud.githubusercontent.com/assets/1327850/26419630/960b027e-407d-11e7-8707-c2f434e3f8e6.png)

[2017-05-24 18:40] macumber opened #45 "Grid does not seem correct in map mode"
Here is building when setting map:

![image](https://cloud.githubusercontent.com/assets/1327850/26419839/2ee9b774-407e-11e7-8ba0-f6abfbd28843.png)

Here is building after map:

![image](https://cloud.githubusercontent.com/assets/1327850/26419849/35fff988-407e-11e7-853a-918c5c121bed.png)

[2017-05-24 18:42] shorowit opened #46 "Initial dialog"
Initial modal dialog could use some usability improvements. My suggestions:
- Rename title from "Enable the Map?" to "Quick Start"
- Change text to: "Choose to either open an existing floorplan, start a new floorplan without a map, or start a new floorplan with a geolocated map."
- Change buttons to (in this order): "Open Floorplan", "New Floorplan", "New Floorplan w/Map"

[2017-05-25 16:26] ljbrackney opened #47 "Editor gets confused when browser is zoomed in or out"
Cmd/Ctrl +/- zooming confuses the editor (at least in Chrome).  Geometry is no longer located correctly on map, cursor and geometry points aren't co-located, etc.

[2017-05-26 16:11] #39 closed

[2017-05-26 16:24] #7 closed

[2017-05-26 18:44] #12 closed

[2017-05-27 15:06] ljbrackney opened #48 "Editor creates degenerate surface"
Simple two story building results in degenerate surface which causes failure on OS import.

[floorplan.json.zip](https://github.com/NREL/openstudio-geometry-editor/files/1033600/floorplan.json.zip)

[2017-05-30 09:17] jmarrec opened #49 "Space disappears when drawing another"
I create the first space using several rectangles, to create a L shape.

![screen shot 2017-05-30 at 11 15 39 am](https://cloud.githubusercontent.com/assets/5479063/26576534/8150dbc8-4529-11e7-805d-e2c96f2351a5.png)

Then I click on "New Space", and draw the missing rectangle next to the L to create a full rectangle. Space 1 disapears, cannot find it anywhere.

![screen shot 2017-05-30 at 11 15 52

[2017-05-31 16:12] macumber commented on #34
@shorowit can you test and close if fixed?  If not we'll move to milestone 0.2

[2017-05-31 16:16] macumber commented on #3
Especially important for stories, seeing "Story 56" seems weird for the second story

[2017-05-31 16:18] macumber commented on #1
Also internet explorer, Safari (iphone), etc

[2017-05-31 16:20] macumber commented on #48
Space is defined by a face that has one point (e.g. single point) or two points (e.g. a line), does not define a valid polygon with area.

[2017-05-31 16:29] shorowit commented on #34
Looks good now.

[2017-05-31 16:29] #34 closed

[2017-05-31 16:39] ajwinter commented on #45
Stories should just count up incrementally.

Spaces should be named by story number and space number, incrementally, like this: Space 1-1, Space 1-2, Space 2-1, Space, 2-2, etc.

[2017-05-31 16:46] shorowit commented on #13
Looks good.

[2017-05-31 16:46] #13 closed

[2017-05-31 16:48] shorowit opened #51 "Retain space selection"
Try to ensure that a space is always selected when in Rectangle/Polygon modes. It can be confusing to be in these modes and not have a space selected -- which means that you can't draw anything.

Some examples:
- When switching stories, either retain the last selected space from when you were on that story or default to selecting the first space in the list.
- When deleting a space, switch to sele

[2017-05-31 16:54] shorowit opened #52 "Select mode bugs"
These occur when you have the Select button clicked:
- If you have two spaces drawn, and space 1 is selected, and then you click on space 2, space 1 is deselected. If you click again, then space 2 finally becomes selected. The deselection step should not occur.
- If you click off in space (not on a space), the selected space becomes deselected. Rather, I think nothing should happen (the selected s

[2017-05-31 16:56] shorowit commented on #23
This is working well for me!

[2017-05-31 17:12] ljbrackney commented on #11
Labels are ginormous.

![labels](https://cloud.githubusercontent.com/assets/2230150/26644493/b268f2b6-45e9-11e7-8355-643497540019.png)

[2017-05-31 17:14] ljbrackney commented on #23
Same

From: Scott Horowitz <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/openstudio-geometry-editor <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 31, 2017 at 9:56 AM
To: NREL/openstudio-geometry-editor <openstudio-geometry-editor@noreply.github.com<mailto:openstudio-geometry-editor@noreply.github.com>>
Cc: Larry Brackney <larry.brackney@n

[2017-05-31 17:27] shorowit commented on #11
Weird, I'm not seeing that.

[2017-05-31 23:01] ajwinter commented on #45
Fixed scaling issue.

@macumber for item 2 above, would it be viable to hide the grid while placing the map? It doesn't seem to have a direct function while doing that, and then it can sync up after the map is placed.

[2017-06-01 00:36] shorowit commented on #45
I could imagine users wanting to position the map relative to the grid so that, e.g., a building is perfectly aligned with the grid lines.

[2017-06-01 01:45] macumber commented on #45
Alternate approach would be to allow user to shift grid relative to 0, 0 in both x and y

[2017-06-01 02:10] ljbrackney commented on #45
Speaking for myself, I could see using grid for a new construction project, but I'm less confident I would want that for a retrofit project where I'd rely more heavily on map features for registration.  My $0.02.

On May 31, 2017, at 5:37 PM, Scott Horowitz <notifications@github.com<mailto:notifications@github.com>> wrote:

I could imagine users wanting to position the map relative to the grid so

[2017-06-01 03:26] macumber commented on #45
I agree with Larry, grid is less useful for tracing.  However, I do like to be able to orient map footprints along x/y axes so view grid during map placement is useful for that

[2017-06-01 16:29] ljbrackney commented on #11
Rebuilt from 6/1 AM commits and retested.  Labels look good now.  Thanks!

[2017-06-01 16:31] ljbrackney commented on #11
Ugh.  Spoke too soon.  I just switched to a different property and the problem is still there.  Very strange - one address and adding geometry looks fine.  A different one is the same as above.

[2017-06-01 16:45] ljbrackney commented on #11
Good result - Commercial Building - La Kretz Innovation Campus in LA

![ok](https://cloud.githubusercontent.com/assets/2230150/26690621/d1a3034a-46ae-11e7-8d73-2801c4facbd6.png)

Bad result - Residential Building - Residence in Van Nuys

![notok](https://cloud.githubusercontent.com/assets/2230150/26690637/e1ba7dda-46ae-11e7-886d-67cb8eea3ea2.png)

Obviously the scale of these buildings is differen

[2017-06-01 16:46] ljbrackney commented on #49
Verified.

[2017-06-01 16:56] ajwinter commented on #11
The labels are a fixed size based on zoom level, so if you have a small space, then the label will be too big.

Couple ideas:
1. The easiest is to find a good size that works consistently and stick to that. Right now the labels end up being about 100 meters wide in real world units, which is probably much too big. If we can take a stab at an average space size, then we can shrink labels accordingl

[2017-06-01 17:03] ljbrackney commented on #11
That makes sense.  My two examples indicate the range of scales we expect the tool to support for residential and commercial use cases.  It may be possible to use option 1 w/ label scaling appropriate for residential.  They might look a little small in some commercial spaces, but would probably be ok.

[2017-06-01 17:11] shorowit commented on #31
Any chance we could do something more compact like this?

![beopt_labels](https://cloud.githubusercontent.com/assets/5861765/26691485/81c538c8-46ba-11e7-85e5-1ad82f60cbd1.png)

BEopt also allows you to see this info when mousing over a space. If the space is rectangular, it shows all of the above info (area, width x height). If the space is not rectangular, it just shows the area. This is particul

[2017-06-02 14:00] ajwinter commented on #3
Partially fixed. Remaining task: make space names have the story in them, like so: Space 1-1, Space 1-2, for Story 1, then Space 2-1, Space 2-2, for Story 2, etc.

[2017-06-02 20:35] ajwinter commented on #11
Made the labels a fair amount smaller, which seems to work for most test cases. Closing this for now, feel free to re-open!

[2017-06-02 20:35] #4 closed

[2017-06-02 20:35] #23 closed

[2017-06-02 20:37] ajwinter opened #54 "Re-format numeric feedback while drawing"
Reformat the numeric feedback to be more compact like this:

![81c538c8-46ba-11e7-85e5-1ad82f60cbd1](https://cloud.githubusercontent.com/assets/3341874/26743929/fb7e9eb6-47a0-11e7-962c-120bafcb2116.png)

BEopt also allows you to see this info when mousing over a space. If the space is rectangular, it shows all of the above info (area, width x height). If the space is not rectangular, it just shows

[2017-06-02 20:39] ajwinter commented on #31
@shorowit Thanks for the feedback! I broke it out into another issue (#54), since it's likely lower priority than some other things right now.

[2017-06-02 20:39] #31 closed

[2017-06-02 20:40] ajwinter commented on #45
We discussed in Slack a bit, and landed on displaying a single "reticle" in the middle of the screen in map placement mode (this solves some technical issues with matching up the grid exactly combined with zooming).

Scaling issue is fixed and merged to develop, remaining fixes coming shortly.

[2017-06-06 17:19] devKate commented on #48
Sorry, I'm a bit confused about the issue. I imported that floorplan and it loaded into the geometry editor the way I'd expect, but I'm not sure what happens during OS imports. Are there certain types of faces I need to validate against? I have already prevented creating faces with no area.

[2017-06-06 17:22] ljbrackney commented on #48
This fails on import. Dan will have to provide guidance on validation gaps.

On Jun 6, 2017, at 10:20 AM, Katie Noland <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorry, I'm a bit confused about the issue. I imported that floorplan and it loaded into the geometry editor the way I'd expect, but I'm not sure what happens during OS imports. Are there certain types of faces I n

[2017-06-06 17:43] macumber commented on #48
@devKate part of the issue is that OS needs to trap for degenerate surfaces in the json, if you have prevented degenerate (e.g. 0 area) surfaces then that is also good, Larry might have used an old build of this tool that did not have that check in it.  If we continue seeing degenerate surfaces we will push it back to you

[2017-06-06 17:51] devKate opened #55 "faces can be divided during clipping operations"
Currently, if a clipper operation results in two closed faces, we discard one and save whichever face happened to be returned first from clipper

[2017-06-06 18:03] ljbrackney commented on #48
I was using the first "release" build.  I'm currently pulling from Dev and can re-test as needed with that floorplan.json or a fresh one.

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/openstudio-geometry-editor <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, June 6, 2017 at 10:43 AM
To: NREL/openstudio-geometry-editor <openstu

[2017-06-06 18:06] macumber commented on #55
If the operation is correct that there are two or more faces in the result then the design was to revert the operation, this would be something like drawing a space that cuts through another space, it is not allowed.

However, there may be cases where the result does not really have two polygons.  I'd especially watch out for the case where you get multiple faces in the result but some of those fa

[2017-06-06 20:01] #3 closed

[2017-06-06 20:01] #30 closed

[2017-06-06 20:01] #45 closed

[2017-06-06 20:20] shorowit opened #57 "Uncaught error"
This occurs with the latest develop 1e013182536217211ccab93981a47b770b7947d4.

1. Disable map, draw rectangle from top-left to bottom-right
![1](https://user-images.githubusercontent.com/5861765/26849828-cf14699e-4ac2-11e7-9ba7-b23f39ea8d8c.png)

2. Add new space, draw from top-right to bottom-left
![2](https://user-images.githubusercontent.com/5861765/26849868-e9cd06ba-4ac2-11e7-91e3-db0b6bd3e546

[2017-06-06 20:26] shorowit commented on #40
So if I place map and pan around, things seem to work much better now. But there are still issues if you zoom.

[2017-06-06 20:31] ajwinter commented on #40
The way it works now is:
1. User chooses to set the map on first start.
2. User positions the crosshair on the corner of a building or similar. During this process, they pan and zoom the map.
3. User clicks "Done". The map center of the map stays in the correct place, but the zoom will change to sync up with the grid.

The zoom change to sync up with the grid is a slightly weird user experience, b

[2017-06-07 03:39] macumber commented on #48
@devKate it seems like bad vertices are being written to the file, this doesn't prevent the editor from re-opening the file but it does mess up openstudio when dealing with it.  See "Space 1 - 2" in the file below.  It is associated with face 33 which seems to have way more edges than it seems like it should.  These edges include vertices that are referenced more than twice (e.g. vertices "52", "2

[2017-06-07 03:50] macumber commented on #48
@ljbrackney a temporary fix is committed at https://github.com/NREL/OpenStudio/commit/7956d190b58d42d94cf257158146c0bfc9546a70, you can switch to the va3c_updates to see if it helps you for demo purposes

[2017-06-07 21:22] shorowit commented on #11
Space labels are huge when you draw at a 1ft grid resolution (common use case for residential buildings).

My suggestions:
- The space label and dimensions labels should always be the same size
- There should be a default size for the two labels (something like 10pt or 12pt font). At some point based on zooming out, the text size would decrease, but the text size would never increase beyond the de

[2017-06-07 21:27] shorowit opened #59 "Grid size vs zoom level"
The default use case for residential is typically a 1ft grid size. If you change from the default grid size of 50 m (which is huge), you get a solid grey background and have to zoom a lot to get to a comfortable viewable grid.

Should the zoom level be automatically adjusted when the grid size is changed?

[2017-06-07 21:37] ljbrackney commented on #11
+1 still

[2017-06-08 14:36] #37 closed

[2017-06-08 14:38] #35 closed

[2017-06-08 14:38] #49 closed

[2017-06-08 18:44] #5 closed

[2017-06-09 20:28] macumber opened #60 "Snapping distance should never be >= grid spacing"
If the snapping distance is greater than or equal to the grid spacing then you can get into situations where you cannot place a point at a grid point since it is snapping to a point on an adjacent grid

[2017-06-09 20:28] macumber commented on #60
Can place here:
![image](https://user-images.githubusercontent.com/1327850/26993334-dcfd37b6-4d1f-11e7-95f6-4ef3c6120d3b.png)

Can't place here:
![image](https://user-images.githubusercontent.com/1327850/26993340-e147cd5e-4d1f-11e7-9a0e-e81dfd448d21.png)

Can place here:
![image](https://user-images.githubusercontent.com/1327850/26993346-e619f5be-4d1f-11e7-8dcc-f9d8343f7379.png)

[2017-06-12 15:11] #2 closed

[2017-06-12 15:12] #18 closed

[2017-06-12 15:12] #32 closed

[2017-06-12 15:20] ajwinter commented on #44
The core issue is fixed (shapes not matching the grid), but there's an issue with the grid line and label sizes after importing. This same issue also happens when resizing the window after changing zoom level.

[2017-06-12 15:21] ajwinter commented on #18
There's an issue with the grid line size and label size being incorrect if you change the size of the window after changing zoom. Tracking this in #44, since it's the same core issue.

[2017-06-13 14:20] #44 closed

[2017-06-13 14:20] #20 closed

[2017-06-13 14:21] ajwinter commented on #11
We changed this over to a fixed size, rather than adjusting by zoom level. It seems to work well in most cases. You can get some minor overlapping at some zoom levels, but that seems like an edge case. Please review and let us know your thoughts!

[2017-06-13 15:17] ljbrackney commented on #60
This may be related - although I have the grid off in my case.  When using the rectangle tool I've noticed that the final space geometry and placement sometimes changes after I finish specifying the geometry.  Here's one example:

![snap](https://user-images.githubusercontent.com/2230150/27089923-9f60fb10-5010-11e7-8fe0-be9fdefd66de.png)

I've also seen this when adding additional rectangles.  The

[2017-06-13 15:19] ljbrackney commented on #11
This looks pretty good now, although the size labels during a drawing operation still look (temporarily) ginormous.

[2017-06-13 15:42] ljbrackney commented on #8
This feature does not appear to work in my build.  Also should space types be imported?  I am importing from the small office prototype model, and seeing no construction sets or space type definitions available for selection.  Either I am misunderstanding the intended functionality or the feature isn't working correctly.

[2017-06-13 15:44] ljbrackney opened #63 "Simple floorplan.json will not import via measure"
Attempting to create extremely simple geometry with all data defined, and the floorplan.json will not import into the App.  Current json attached...

[floorplan.json.zip](https://github.com/NREL/openstudio-geometry-editor/files/1071971/floorplan.json.zip)

[2017-06-13 18:19] #57 closed

[2017-06-13 18:23] ajwinter opened #65 "Zoom "jumps" to sync itself with grid after placing map"
1. Start a new project and place the map
2. Move the map and change zoom level
3. Click "Done"
The map center will remain correct, but the zoom level will jump to sync itself with the grid. This may not be a real issue, but it's a slightly odd UX.

Previously mentioned in #40, moving to a new issue.

[2017-06-13 18:24] ajwinter commented on #40
Created a new issue to log the zoom "jump", since most of this issue is resolved.

[2017-06-13 18:24] #40 closed

[2017-06-13 18:36] shorowit commented on #11
Yes, it would be nice to have the same font size for both. I'd also like to see the font size of the space name increased, but maybe it's specific to my monitor size and screen resolution.

[2017-06-13 21:24] devKate opened #66 "Vertex merging and clipper offset are changing geometry positions during storage"
When points created by a clipper operation, dragging, or inferred points created by the rectangle tool are near saved vertices, the data store will merge them to prevent duplicate geometry. This can cause geometry to move around in potentially undesirable ways. We may want to adjust the tolerance for vertex merging or add a visual indicator to the rectangle tool when an inferred vertex will be mer

[2017-06-13 21:25] ljbrackney commented on #66
That's what I noticed earlier. Thanks!

On Jun 13, 2017, at 2:24 PM, Katie Noland <notifications@github.com<mailto:notifications@github.com>> wrote:

When points created by a clipper operation, dragging, or inferred points created by the rectangle tool are near saved vertices, the data store will merge them to prevent duplicate geometry. This can cause geometry to move around in potentially undesi

[2017-06-13 21:34] #60 closed

[2017-06-13 22:31] #42 closed

[2017-06-13 22:39] devKate commented on #28
@ajwinter, could we go over the meter specific math when you have a moment?

[2017-06-13 22:40] devKate commented on #14
Is this only going to be allowed when certain keys are held? It could conflict with other types of snapping.

[2017-06-13 22:48] macumber commented on #14
Snapping logic should be discussed in this section: https://docs.google.com/document/d/1NrsPjshRdhiOFi7bNDe7-KmVijHOYlQ0A6l5kVsVpJg/edit#heading=h.uhk1fm5zz8ck

If there are corner cases or things wrong with the logic as documented please describe them in that document

[2017-06-13 22:50] macumber commented on #14
I think the idea is to not require holding a special key to snap to horizontal or vertical, but if we dont like that we can look into only doing this snapping when holding shift

[2017-06-14 03:13] macumber commented on #63
Are you getting this message from the measure:

runner.registerError("Cannot find floorplan path '#{floorplan_path}'.")

Attached is the file I get

[floorplan.osm.txt](https://github.com/NREL/openstudio-geometry-editor/files/1073403/floorplan.osm.txt)

Have you tried entering the full path to the file as the measure argument?

[2017-06-14 03:17] ljbrackney commented on #63
I do enter the full path. I'm not getting the file path error. The measure reports success but nothing is pulled in.

On Jun 13, 2017, at 8:14 PM, Dan Macumber <notifications@github.com<mailto:notifications@github.com>> wrote:

Are you getting this message from the measure:

runner.registerError("Cannot find floorplan path '#{floorplan_path}'.")

Attached is the file I get

floorplan.osm.txt<https

[2017-06-14 03:36] macumber commented on #63
Updated measure, works in Apply Measure Now

[measure.rb.txt](https://github.com/NREL/openstudio-geometry-editor/files/1073433/measure.rb.txt)

[2017-06-14 03:36] #63 closed

[2017-06-14 04:38] ljbrackney commented on #48
Your most recent commit to the import_floorplan measure unblocked me.  I will continue testing with more complex geometries to see how things hang together.  Thanks!

[2017-06-14 04:38] #48 closed

[2017-06-14 04:40] ljbrackney opened #69 "Need to support imperial units as well as metric"
Need an option to switch from m to ft.  If this already exists, it wasn't obvious to me.

[2017-06-14 13:23] ajwinter commented on #28
@devKate I think there's only one spot: in updateMapView() in Map.vue, it needs to check if it's currently meters or feet in order to sync the map zoom level to the grid. You'll see we grab "mPerFt" but don't do anything with it. OpenLayers is always in meters, so if the editor is in feet, we need to convert to meters. I think it's as simple as multiplying deltaX and deltaY by mPerFt in that case.

[2017-06-14 17:16] #6 closed, assigned to essential-breads

[2017-06-14 17:47] devKate commented on #52
Just want to double check that clicking off of a face on empty grid space shouldn't result in deselection. I think there was some confusion over that before.

[2017-06-15 20:19] #14 closed

[2017-06-15 20:20] #52 closed

[2017-06-15 20:23] devKate commented on #8
What part is not working? Is your library formatted to match the example library at schema/default_library.json?

[2017-06-15 20:34] devKate commented on #10
This is going to conflict with existing mouse events. OL default behavior is to zoom in on double click. This also might not be great UX, because if the user is clicking to draw faces they could end up triggering this by accident. Maybe we want a separate tool for cloning geometry?

[2017-06-15 20:46] ljbrackney commented on #8
Dan - I tried to use the old "import osm" workflow to strip out definitions.  If that's no longer supported do we have to expose the standards gem json files as input?  The intended workflow isn't clear to me and the editor provided no error message when selecting an osm.

On Jun 15, 2017, at 1:23 PM, Katie Noland <notifications@github.com<mailto:notifications@github.com>> wrote:

What part is not

[2017-06-15 21:07] macumber commented on #8
The import library feature does not read OSM, it reads the floorplan.json format.

[2017-06-15 21:08] macumber commented on #8
The intent would be to export data from the standards gem to floorplan.json format at some point so you would have a list of space types to choose from in the editor

[2017-06-15 21:11] shorowit commented on #10
A separate tool would be fine for now. I think it should be a "Fill" (or "Paint"?) tool. When a space is selected in the sidebar and you single click inside the geometry of a space from the story below, it would reuse that geometry. Would that work?

[2017-06-16 18:15] devKate commented on #10
if the user clicks clone, what should happen if:
- no space/shading is selected
- geometry exists for the selected space/shading and does not intersect with the face to be cloned

[2017-06-16 18:16] #66 closed

[2017-06-16 18:49] #43 closed

[2017-06-16 18:55] macumber commented on #8
@ljbrackney this script will convert an OSM to a library in JSON format, https://github.com/NREL/openstudio-geometry-editor/blob/master/schema/create_library.rb

You could run this on a prototype model or something to generate a library.json pre-populated with standards space types.  Is that something you can test?

[2017-06-16 18:57] macumber commented on #8
@devKate actually could you add an error dialog if you try to upload an invalid file as input?

[2017-06-16 20:00] devKate commented on #17
Could we go over the desired behavior here?

[2017-06-16 20:17] ljbrackney commented on #8
Beautiful!  I shall test!

On Jun 16, 2017, at 11:57 AM, Dan Macumber <notifications@github.com<mailto:notifications@github.com>> wrote:

@ljbrackney<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fljbrackney&data=02%7C01%7Clarry.brackney%40nrel.gov%7C914caa2355824d35480708d4b4e94f81%7Ca0f29d7e28cd4f5484427885aee7c080%7C1%7C0%7C636332361535441578&sdata=M%2Fp6fmV%2Fdt8

[2017-06-20 22:06] #28 closed

[2017-06-21 04:01] ljbrackney opened #72 "Strange Snapping Behavior with Rectangle Tool"
Using rectangle tool results in weird snapping behavior for some geometries.  Note that spaces 1-2 and 1-6 should both be rectangles, but they were forced to snap to nearby space vertices.  This happens regardless of grid settings.  (On/off, 1ft/5ft)

![snap](https://user-images.githubusercontent.com/2230150/27366498-610e20a4-55fb-11e7-80b1-0891159298d7.png)

[2017-06-21 16:11] macumber commented on #72
@ljbrackney FYI @devKate requested console errors if they exist for any issues

[2017-06-21 16:23] ljbrackney commented on #72
No errors in console related to weird snapping behavior, but I see Duplicate vertex errors when trying to add some geometry.  Snapping behavior can be replicated by trying to create two adjacent rectangular spaces of slightly different heights.  If the height delta is sufficiently* small then the vertex of the second space snaps to the adjacent space's vertex as shown in my example.

* I've played

[2017-06-21 16:30] ljbrackney commented on #72
This screenshot shows more of the behavior.  If I made Space 1-2 a bit longer, the lower left corner would have snapped to Space 1-1's lower right corner.  You can see examples in spaces 1-4 and 1-5.  The above example shows an even worse case with Space 1-6, which snaps to the vertices of 1-4 and 1-5, dividing space 1-3.

![snap2](https://user-images.githubusercontent.com/2230150/27395314-356e2d6

[2017-06-21 16:32] ajwinter commented on #72
@ljbrackney Just checking for testing purposes: when did you last update locally from develop?

[2017-06-21 16:39] ljbrackney commented on #72
Rebuilt from develop around 8 or 9pm last night - included pull request 71.

From: Allan <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/openstudio-geometry-editor <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, June 21, 2017 at 9:32 AM
To: NREL/openstudio-geometry-editor <openstudio-geometry-editor@noreply.github.com<mailto:openstudio-geometry-e

[2017-06-21 16:42] macumber commented on #69
- [x] Allow configuring units in editor initialization config

[2017-06-21 16:43] #55 closed

[2017-06-21 16:51] ajwinter opened #73 "Can't pan the map when hovering over a space"

[2017-06-21 16:54] ajwinter commented on #33
In non-map mode, have a "North Axis" text field in the top bar that the user can input a number into to set rotation.

[2017-06-21 17:33] macumber opened #74 "Test locked down grid mode"
We are considering adding a locked down grid mode (more similar to BeOpt).  We can test this mode without implementing it by doing the following:

- Do not use polygon mode, only draw rectangles
- Only set grid spacing to multiples of some common factor (e.g. 1ft, 2ft, 4ft, 8ft)
- Only start or end rectangles on grid points

[2017-06-21 17:40] shorowit opened #75 "Display error messages when drawing operation fails"
E.g., due to holes, non-contiguous polygons, self-intersection, etc. Will help the user understand why nothing happened.

[2017-06-21 17:52] shorowit opened #76 "Story pane UI"
The pane currently looks like this:
![image](https://user-images.githubusercontent.com/5861765/27398429-f5513014-5676-11e7-84a1-5d888ca79b3e.png)

I recommend small changes to make it look like this:
![image](https://user-images.githubusercontent.com/5861765/27398768-028f1d3a-5678-11e7-8c4e-7bc7998c6389.png)

[2017-06-21 17:54] ljbrackney commented on #76
+1

From: Scott Horowitz <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/openstudio-geometry-editor <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, June 21, 2017 at 10:52 AM
To: NREL/openstudio-geometry-editor <openstudio-geometry-editor@noreply.github.com<mailto:openstudio-geometry-editor@noreply.github.com>>
Cc: Subscribed <subscribed@noreply.g

[2017-06-21 17:56] shorowit opened #77 "Object type pane UI"
I think we should swap the Search control and the Type/New controls so that the Type/New controls are on the left and the Search control is on the right. This brings greater prominence to the Type/New controls, which are more important than search, and should help the user understand that the search and table is specific to the selected Type.

[2017-06-21 18:02] shorowit opened #78 "Colors"
We need better color palettes.

For example, the first five space colors are all variations of black and blue:
![image](https://user-images.githubusercontent.com/5861765/27399067-d6e74db4-5678-11e7-8b9f-7775731391ce.png)

It's also really hard to read the text for some selected objects:
![image](https://user-images.githubusercontent.com/5861765/27399118-f9c4c9c4-5678-11e7-806c-b48068196134.png)

T

[2017-06-21 18:06] shorowit opened #79 "Bottom pane rows shouldn't reorder"
Start with a bunch of spaces like so:
![image](https://user-images.githubusercontent.com/5861765/27399344-a78154c4-5679-11e7-83b4-fae9f4c5fbfb.png)

Select the first row (ID=3) like so:
![image](https://user-images.githubusercontent.com/5861765/27399360-b9fb2242-5679-11e7-934d-a7a1fab38896.png)

Then select the second row (ID=4):
![image](https://user-images.githubusercontent.com/5861765/27399409-

[2017-06-21 18:08] shorowit opened #80 "Prioritize name column in bottom pane"
If you have, e.g., Space selected as the Type, the first column should show space Names, not IDs. Same for other object types.

[2017-06-21 18:18] shorowit commented on #74
In retrospect, it seems like polygons would be supported just fine. You would only be able to snap to polygon vertices (or, really, the grid points they lay on); you wouldn't be able to snap along the edge of a polygon just as you can't snap along the edge of a rectangle.

For example, you could still easily do this (all polygon vertices are on grid points):
![image](https://user-images.githubuser

[2017-06-26 19:47] devKate commented on #69
" Ensure that opening files with different units correctly converts to current editor units
 Ensure that library/component files with units (e.g. window length) are converted to current editor units"
Those two items might not be relevant yet. Currently, there are no units on any library objects, and importing a full floor plan will also require importing the existing units setting from that floor

[2017-06-26 20:01] macumber commented on #69
The default_library.json file has "units": "ft", and windows like:

    {
      "id": null,
      "name": "Window F",
      "height": 3,
      "width": 4,
      "sill_height": 3
    }

So those should be interpreted as windows that are 3 ft x 4 ft, inserted 3ft above the ground

[2017-06-27 17:44] #46 closed

[2017-06-28 16:05] macumber commented on #8
First check that file is JSON, second list number of objects imported

[2017-06-28 16:07] macumber commented on #69
For 0.2 the units should just be locked to 'ft', this issue should stay open for future work

[2017-06-29 16:40] #79 closed

[2017-06-29 16:42] #51 closed

[2017-06-29 18:58] ljbrackney opened #82 "Image drag not working"
Image file attached along with screenshot of editor.  My hope is that I could overlay this on the La Kretz Innovation campus map view for scaling and orientation, then trace over it.

![lakretz](https://user-images.githubusercontent.com/2230150/27705262-38dcc4a0-5cc2-11e7-8d41-65567122491d.jpg)

![image](https://user-images.githubusercontent.com/2230150/27705269-3caa977e-5cc2-11e7-98ad-09f7045abd0

[2017-06-29 19:13] ljbrackney commented on #82
Also dragging of the image does not appear to be working.  Drag/resize is ignored and green rectangle consistently shows up as shown below.

![image2](https://user-images.githubusercontent.com/2230150/27705876-3ec193b2-5cc4-11e7-91bb-30d80e4b4d90.png)

[2017-06-29 19:20] ljbrackney commented on #82
I have tried this with both JPG and PNG image file formats.

[2017-06-30 20:45] #73 closed

[2017-07-05 02:53] macumber opened #84 "Test Case 1 - Simple Box Geometry"
Should be straight forward to create this model, model is 8 m wide, by 6 deep.

[2017-07-05 02:53] macumber commented on #84
![best_test_case_600](https://user-images.githubusercontent.com/1327850/27847444-cff2f4a4-60fa-11e7-9512-873dc11167cd.png)

[2017-07-05 02:54] macumber commented on #84
Will require adding 3 m x 2 m windows to project library and placing them at 2 m and 6 m centers

[2017-07-05 02:55] macumber opened #85 "Test Case 2 - Primary School"
To create this model you will import the image, set the scale to 104 meters for width (or 82 m for height).  Then trace over interior spaces.

[2017-07-05 02:55] macumber commented on #85
![primaryschooloutline](https://user-images.githubusercontent.com/1327850/27847504-282d92f0-60fb-11e7-89ef-d694ad18e079.png)

[2017-07-05 17:09] #75 closed

[2017-07-05 17:37] ljbrackney commented on #82
I rebuilt this morning, and was able to get an image pulled in and resized it.  The drag behavior is still not working - the image wants to stay towards the bottom of the screen as before.  Trying to drag it to the upper part of the screen sometimes causes it to disappear altogether.

[2017-07-05 17:55] ljbrackney commented on #82
Also the drag button gets stuck to selected and can't be unselected.  Switching to another view then back to image unselects it.

[2017-07-05 18:43] #8 closed

[2017-07-05 23:13] ljbrackney opened #87 "Floorplan.json save fails when an image exists"
Saving the floorplan.json fails to download when an image exists.  Deleting the image allows save.

[2017-07-05 23:27] ljbrackney opened #88 "Only geometry and spaces translated by import floorplan measure"
Editor view:
![editor](https://user-images.githubusercontent.com/2230150/27888951-03fa72a6-619e-11e7-9cef-16292a947390.png)

Import and spaces look okay after import, but...

Loads tab:
![loads](https://user-images.githubusercontent.com/2230150/27889034-8d956462-619e-11e7-9a16-876a29303382.png)

Spaces tab:
![spaces](https://user-images.githubusercontent.com/2230150/27889037-93c3991c-619e-11e7-90d

[2017-07-05 23:29] ljbrackney commented on #88
OSM after import:
[Blank.osm.zip](https://github.com/NREL/openstudio-geometry-editor/files/1126316/Blank.osm.zip)

[2017-07-06 03:15] macumber opened #89 "Need way to edit building level properties"
First one to add is Building "Construction Set"

[2017-07-06 03:16] macumber opened #90 "Y axis labels not visible"
I can see the X axis labels, but not the Y axis ones

[2017-07-06 03:16] macumber commented on #90
![image](https://user-images.githubusercontent.com/1327850/27894076-413bed9c-61c7-11e7-947c-e153e4b53b7f.png)

[2017-07-06 03:17] macumber opened #91 "Need zoom to fit"
We should have a zoom to fit button that will zoom the current view to fit all geometry on the current story.  This should be called when opening an existing file.

[2017-07-06 03:22] macumber opened #92 "Temporary guideline feature"
I would like to propose a feature to add a temporary guide line.  This feature would be a new drawing tool.  You would start by clicking on an existing line segment, this would create a temporary guideline.  You could then move the temporary guideline in either direction orthogonal (90 degree angle) to it.  You would see the distance it was currently offset from the starting guideline.  There woul

[2017-07-06 03:22] macumber commented on #92
![image](https://user-images.githubusercontent.com/1327850/27894196-fdac21c2-61c7-11e7-9664-b3a09c414522.png)

[2017-07-06 03:22] macumber commented on #92
![image](https://user-images.githubusercontent.com/1327850/27894204-07038f6c-61c8-11e7-9d4c-b6220aabec67.png)

[2017-07-06 03:23] macumber commented on #92
![image](https://user-images.githubusercontent.com/1327850/27894230-2345b2f4-61c8-11e7-8aa3-16a3170c3b76.png)

[2017-07-06 03:25] macumber commented on #92
Repeat as necessary

![image](https://user-images.githubusercontent.com/1327850/27894276-7218bc28-61c8-11e7-9092-53d62135d127.png)

[2017-07-06 03:25] macumber commented on #92
Delete guidelines when no longer needed

[2017-07-06 03:26] macumber opened #93 "Disable the modal "Place Map" dialog when loading an existing model"
Currently, I load the editor in a web frame, then call the api.doImport method and pass in a valid JSON.  I would like this method to close the dialog, the file should contain information about the map/grid as needed

[2017-07-06 03:28] macumber commented on #88
Yeah that is known, I haven't done that stuff yet.  That's why the bulk of the work on merging is yet to be done.

[2017-07-06 03:29] macumber opened #94 "Tape measure tool"
Would like a tape measure tool that can measure the distance between points and lines.  User should be able to click a starting point then select an ending point (either on a grid point, vertex, line segment, etc) and measure the distance between.  Ideally the measurement would stay on the screen so users could take a screenshot as shown below.

[2017-07-06 03:30] macumber commented on #94
![primaryschooloutline](https://user-images.githubusercontent.com/1327850/27894412-2a361b02-61c9-11e7-9bd5-b0e0dcf588de.png)

[2017-07-06 03:30] macumber commented on #94
Possibly related to https://github.com/NREL/openstudio-geometry-editor/issues/92

[2017-07-06 17:01] #19 closed

[2017-07-06 17:49] shorowit opened #96 "Duplicate vertex error - operation canceled"
I'm seeing a lot of `duplicate vertex` errors. If you draw the two rectangles below for a single space, you'll trigger it. The duplicate vertex seems to be the lower-left vertex of the 2nd rectangle and the lower-right vertex of the 1st rectangle.

![image](https://user-images.githubusercontent.com/5861765/27925151-f80783f0-6240-11e7-9b4e-d13caa839ef3.png)

[2017-07-06 19:20] shorowit commented on #92
I'm not clear what benefit this has relative to drawing via grid lines. In your example, you simply want to be able to specify a 5m x 20m space rectangle?

An alternative implementation would be to allow the user to type in dimensions a la SketchUp: start drawing a rectangle > type 5, enter > type 20, enter. (This could be moved to a separate proposal.)

[2017-07-06 19:24] shorowit commented on #91
It would be nice to add small zoom in/out/fit buttons to a corner of the grid.

[2017-07-06 19:25] shorowit commented on #90
Looks like this was addressed? I'm seeing y-axis labels:

![image](https://user-images.githubusercontent.com/5861765/27929022-97aa8828-624e-11e7-9051-84bfef01e2cf.png)

[2017-07-07 18:54] #33 closed

[2017-07-12 17:50] shorowit commented on #10
This is not working in the latest develop.

[2017-07-12 17:53] shorowit opened #100 "Huge fonts when opening floorplan"
I saved a floorplan and then re-opened it. It looks something like this:

![image](https://user-images.githubusercontent.com/5861765/28131901-8ee48dde-66f8-11e7-86bf-b89e81c95d62.png)

Floor plan JSON file:

[floorplan.json.txt](https://github.com/NREL/openstudio-geometry-editor/files/1142858/floorplan.json.txt)

[2017-07-12 21:12] ajwinter opened #101 "Undo/redo"

[2017-07-12 21:12] #90 closed

[2017-07-13 15:15] macumber opened #102 "Config Initialization API"
When I load the editor in the OpenStudio application, I have a callback on page load that I can use to call javascript API methods.  I would like to call setConfig with the following options:

- [x] Set units to IP/SI
- [x] Enable or disable the place map dialog (if we have an existing JSON I will be calling doImport after this and don't want the dialog to show up before going away)
- [x] Set onli

[2017-07-17 15:43] macumber opened #103 "Error saving floorplan"
I am getting this error in the 0.2.0 build, I haven't tested extensively but it appears that the save fails when there is an image that has been imported

![image](https://user-images.githubusercontent.com/1327850/28276503-6107e8e0-6ad4-11e7-8b3c-bd0c99fada25.png)

[2017-07-17 15:52] macumber opened #104 "Mode to find unshared edges"
A mode which would show all edges that are shared by 1 vs 2 spaces would be very helpful.  Edges that are shared by only one space will be translated to exterior walls, we want to make sure no interior walls are accidentally classified as exterior

[2017-07-17 15:56] macumber opened #105 "Drawing operation deletes all geometry"
I've hit this a couple of times in the 0.2.0 build.  When you have an existing space and then try to draw some additional geometry that will combine with the space, sometimes the space geometry for the entire story.  The edges and vertices are still there (see image) but the faces are all gone

![image](https://user-images.githubusercontent.com/1327850/28277140-356785d6-6ad6-11e7-8805-ab26e9b52267

[2017-07-17 15:59] macumber opened #106 "Map placement search / done button can be confusing"
I mistakenly entered an address to search for then hit the done button thinking it was a search button.  Seems like we might want to separate the search and done buttons.

[2017-07-17 16:13] shorowit commented on #103
Same as https://github.com/NREL/openstudio-geometry-editor/issues/87?

[2017-07-17 16:42] #103 closed, assigned to nobody

[2017-07-17 16:43] macumber commented on #103
Duplicate

[2017-07-17 16:43] ljbrackney commented on #106
+1  I learned that early on, but agree it would be nice to separate searching and acceptance.

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/openstudio-geometry-editor <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, July 17, 2017 at 9:20 AM
To: NREL/openstudio-geometry-editor <openstudio-geometry-editor@noreply.github.com<mailto

[2017-07-17 18:04] macumber commented on #93
Handled by https://github.com/NREL/openstudio-geometry-editor/issues/102

[2017-07-17 18:06] macumber commented on #102
For new files, I think I will start by passing in a new JSON file rather than letting the geometry editor provide one, so I'll want to call doImport but still allow the place map dialog

[2017-07-18 16:08] ljbrackney opened #107 "Story Height Doesn't Appear to be Respected"
Setting a the floor height, saving, and viewing in the previewer shows a very flat building regardless of the height specified.

![height1](https://user-images.githubusercontent.com/2230150/28327549-99f3cf42-6b98-11e7-902a-bd60b5545fcc.png)

![height2](https://user-images.githubusercontent.com/2230150/28327553-9f0df5de-6b98-11e7-901b-7b4e662e3f5a.png)

[2017-07-18 17:02] macumber commented on #107
This is likely an error in the translator, could confirm by checking that the field is set in the floorplan.json.  If it is a translator issue those should be added to openstudio issues, possibly with a new geometry label

[2017-07-18 17:34] ljbrackney commented on #107
Floor to ceiling height is set in the JSON, so it looks like the problem is in the Measure.  I'll leave this open and we can move it later.

[2017-07-19 14:34] ljbrackney commented on #47
This behavior is still present when the app is used within the OpenStudio App.  Both grid snap and labeling get out of whack when the App is resized or the pane bar is dragged.

![resize](https://user-images.githubusercontent.com/2230150/28372456-9b86c244-6c54-11e7-98dd-2e7058b59dfa.png)

[2017-07-19 15:37] macumber commented on #47
Does the refresh button work to fix this?

[2017-07-19 15:53] ljbrackney commented on #47
Currently the refresh button wipes everything out and returns me to the quick start dialog.

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/openstudio-geometry-editor <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, July 19, 2017 at 8:37 AM
To: NREL/openstudio-geometry-editor <openstudio-geometry-editor@noreply.github.com<mailt

[2017-07-20 15:46] gh-23378 commented on #102
This is done, when Dan has had a chance to test it I will remove his test button and submit a PR.

[2017-07-20 19:17] gh-23378 commented on #101
Base functionality is there but I think that @macumber or @shorowit should test this and give feedback before we say it is done.

[2017-07-26 16:53] shorowit opened #109 "Unique names"
We had decided to have names be unique by type, not globally unique. But if I create a space, rename it to "Living" and then create a zone and try to rename it to "Living", I get the "Names must be unique" error. But this should be allowed.

[2017-07-26 16:56] shorowit opened #110 "Click to assign zone, etc."
Currently zones, space types, and building units can only be assigned to spaces by using the dropdown in the bottom pane when spaces are displayed. It'd be nice to allow one to assign the selected zone/spacetype/unit to a space by simply clicking inside the space in the drawing area.

[2017-07-26 16:59] shorowit commented on #101
- [x] Add buttons for undo/redo
- [x] Use ctrl-y instead of (or in addition to) ctrl-shift-z for redo
- [x] Display a message for what was just changed

[2017-07-26 17:43] ljbrackney commented on #82
I've played with this a bit more and will try to explain the behavior I'm seeing as best I can.

When I attempt to drag the image on top of the building, it snaps to a weird location (as shown in the last figure above).  When I change the image's size, it then magically appears at the place I originally dragged it to.  Try dragging it again and - poof back to the magic snap spot.  So I have to dra

[2017-07-31 17:50] bgschiller commented on #72
@ljbrackney just made a change so that holding down shift will disable snapping behavior. Does that adequately address this issue?

[2017-07-31 21:06] bgschiller commented on #105
This sounds really frustrating. I'm having a hard time reproducing it, unfortunately. Any details you can give us about what else was going on when it happened are appreciated :)

[2017-07-31 21:29] ljbrackney commented on #105
I have seen geometry associated with other spaces vanish when drawing new geometry. I have not seen ALL geometry deleted. I observed this as recently as this morning with the new merge to develop.

[2017-07-31 22:46] shorowit opened #116 "Erase bug"
Draw rectangle:
![image](https://user-images.githubusercontent.com/5861765/28801470-f0802600-760e-11e7-8841-1282e63047f9.png)

Perform erase operation that like so:
![image](https://user-images.githubusercontent.com/5861765/28801486-0261a722-760f-11e7-8833-bc1625fe4abb.png)

Space rectangle disappears with weird error message displayed:
![image](https://user-images.githubusercontent.com/5861765/28

[2017-07-31 23:51] ljbrackney commented on #82
Drag and resize is now working properly.  Image sizing box does not disappear when switching to Pan or another editor.

![image](https://user-images.githubusercontent.com/2230150/28803351-b2be5fec-7610-11e7-9aeb-dce1943414c0.png)

[2017-07-31 23:57] ljbrackney commented on #72
Shift drag seems to be working okay for ignoring the grid, but I'm still getting this weird snapping behavior.  You can get a sense of the progression in the attached images.  Things are going okay in the first image...

![image2](https://user-images.githubusercontent.com/2230150/28803467-a565c6e0-7611-11e7-8035-5143ecd9e83d.png)

Then I try to add this small space at the bottom as a rectangle tha

[2017-08-01 00:07] ljbrackney commented on #72
If I set a fine grid and let rectangles snap to it then things are a bit better, but it seems like the editor is still trying to snap to the grid and space vertices simultaneously.  So I end up with "rectangles that aren't."  I could probably snap everything to a sufficiently fine grid, but I was trying to avoid relying on a grid so I could trace over my floorplan.

![image](https://user-images.gi

[2017-08-01 00:30] ljbrackney commented on #82
Saving JSON with an image included fails.  Deleting image allows save to proceed.

[2017-08-01 16:07] bgschiller commented on #106
@macumber @ljbrackney how do we feel about this?
![](https://trello-attachments.s3.amazonaws.com/58d428743111af1d0a20cf28/5980a66898bccc5d39fa1e58/e9451f8352bbd753c12ac515690cdea6/capture.png)

This code is in PR #117

[2017-08-01 16:18] ljbrackney commented on #106
I think putting it down next to the text that says "Click 'Done' when finished" is probably a good idea.

From: Brian Schiller <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/openstudio-geometry-editor <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, August 1, 2017 at 9:07 AM
To: NREL/openstudio-geometry-editor <openstudio-geometry-editor@noreply.gi

[2017-08-02 16:20] shorowit commented on #11
In the latest develop, I'm seeing space names that are no longer the same font size as the space dimension labels.

![image](https://user-images.githubusercontent.com/5861765/28883576-2afccbc2-776c-11e7-8b9e-42b169c48101.png)

[2017-08-02 22:05] ljbrackney commented on #105
Here's my latest example.  I draw Space 1-6, and adjacent Space 1-4 (it was sitting between 1-1 and 1-6) vanishes from the editor.  The object is obviously still there.  This happens fairly frequently.

![vanish](https://user-images.githubusercontent.com/2230150/28897054-e23a8a82-7793-11e7-9238-17fe663e277c.png)

[2017-08-02 22:13] ljbrackney opened #120 "Multiple Spaces Selected and Strange Behavior"
This is another behavior I see frequently.  Sorry the title isn't more clear, but hopefully the description and screenshot will help.

I went ahead and created a new space 1-7 and began drawing it vertically off of 1-6.  Note in the UI that BOTH 1-6 and 1-7 are selected somehow, and the editor is confused about what to do with the new Space.  It appears that it's doing some sort of subtraction fro

[2017-08-02 22:16] ljbrackney commented on #11
I'm seeing huge fonts again as well.

[2017-08-03 18:21] shorowit opened #121 "Spaces disappear when selecting them"
Using the latest code from the undo/redo branch.

Rename video file to *.webm
[Aug 3 2017 12-19 PM.webm.txt](https://github.com/NREL/openstudio-geometry-editor/files/1198211/Aug.3.2017.12-19.PM.webm.txt)

[2017-08-03 20:12] shorowit opened #123 "Disable controls when Quick Start is visible"
Currently you can interact with all of the controls in the background (map, + space, etc etc) when the Quick Start "popup" is visible. Minor issue though.

[2017-08-03 20:12] shorowit commented on #120
I can reproduce this bug by creating an arbitrary floorplan, saving, reopening, and clicking + Space

[2017-08-03 20:15] shorowit commented on #96
I have not been seeing this anymore.

[2017-08-03 20:15] #96 closed

[2017-08-03 20:26] shorowit opened #124 "Error related to split faces"
If you try to split a face under simple circumstances, it works correctly:
![image](https://user-images.githubusercontent.com/5861765/28942101-614702b0-7857-11e7-8a7c-cfa6e9c4e5d9.png)
![image](https://user-images.githubusercontent.com/5861765/28942116-664cf2e2-7857-11e7-8174-2003d12c84f9.png)

But here's a slightly more complex situation that causes an error:
![image](https://user-images.githubus

[2017-08-03 23:24] macumber opened #125 "window.api.importLibrary missing"
@devKate knows about this, just a reminder

[2017-08-03 23:26] macumber opened #126 "Can't import valid floorplan (according to schema)"
The following JSON validates against the schema but generates this error on import.  Either we should fix the code to treat the missing properties as optional or we should update the schema to make these properties required:

[code]

[2017-08-03 23:26] macumber commented on #126
`{"application":{"currentSelections":{"building_unit":null,"image":null,"mode":"spaces","shading":null,"space":{"building_unit_id":null,"color":"#007373","construction_set_id":null,"daylighting_controls":[],"face_id":"12","handle":null,"id":"3","name":"Space 1 - 1","space_type_id":null,"thermal_zone_id":null,"type":"space"},"space_type":null,"story":{"below_floor_plenum_height":0,"floor_to_ceiling

[2017-08-03 23:27] macumber commented on #126
@devKate I'm happy to make changes to the schema if you want me to

[2017-08-15 16:21] shorowit commented on #101
Looks good with my testing. A great feature!

[2017-08-15 16:21] #101 closed

[2017-08-15 16:36] shorowit commented on #109
I'm still seeing this with the latest develop. It occurred for a space name and spacetype name.

[2017-08-16 16:57] shorowit opened #129 "Can't click space vertex inside another space"
Seems like a regression in develop. This definitely worked at one point.

Draw a space:
![image](https://user-images.githubusercontent.com/5861765/29375222-77d0dc94-8271-11e7-87a4-96d65630cc1d.png)

Create a new space and try to end it by clicking inside the first space. The tool doesn't seem to register the click:
![image](https://user-images.githubusercontent.com/5861765/29375251-8f8cab38-8271-1

[2017-08-16 17:43] macumber opened #130 "Usability review"
Currently there is confusion about where functionalities should go in the editor, for everyone's reference here is what we are calling the different parts of the editor:

![image](https://user-images.githubusercontent.com/1327850/29377122-046db572-8278-11e7-9cd9-4731e6bcebfb.png)

[2017-08-16 18:09] macumber commented on #125
Thanks @devKate the method is there now, but I'm having trouble calling it:

[code]

It appears at the stories element is causing issues.  I would like to be able to import library items from any floorplan.json file.  Can we make import simply ignore the stories element in the import library routine?  Additionally, we need to add building_units and thermal_zones to the importable objects

[2017-08-16 18:19] macumber commented on #125
Any floorplan.json conforming to the geometry_schema.json should be able to be imported as a library.  However, only a subset of the content will be imported in importLibrary.

Application and project elements will be checked for compatibility with the current library and we may support unit conversion on import in the future, however the current model's application and project elements will not b

[2017-08-16 18:20] gh-23378 commented on #125
Could you elaborate on "Application and project elements will be checked for compatibility with the current library"?

[2017-08-16 18:23] macumber commented on #125
Main thing is if you are importing a library in meters into a project in ft, eventually we might need to do unit conversion (if windows remain as library items).

I can't think of any other checks, but there might be some.  Big thing is that the current project's application and project elements are not altered during a library import.

[2017-08-16 18:37] shorowit opened #131 "spacetypes incorrectly deleted"
Open this floorplan json file:
[residential_template.json.txt](https://github.com/NREL/openstudio-geometry-editor/files/1229181/residential_template.json.txt)

Note that there are 5 spacetypes displayed in the interface.

Switch the navigation dropdown to `Thermal Zone` and create two thermal zones. Then delete the second one.

Bug: there are now four spacetypes.

[2017-08-16 18:41] shorowit commented on #74
Suggestions for first pass:
- Add a UI control to switch between locked down and standard grid modes
- Standard grid mode behaves as it does now
- Two changes are made for locked down mode:
  - Disable logic that allows snapping to edges
  - Remove ability to use shift for free-form drawing

Sound good @macumber?

[2017-08-16 18:45] shorowit commented on #130
Some considerations:
- Where does the user create new objects (spaces, zones, windows, etc.)?
- What is the UI behavior for placing components (windows, doors, skylights, etc.)?
- Should e.g., window definitions and window instances be collapsed into just windows?  If so how would you add them and without having to enter a bunch of duplicate information for each window.
- Do we need a copy button

[2017-08-16 18:48] shorowit opened #132 "Snapping occurs between grid points"
Open the attached floorplan json:
[residential_template.json.txt](https://github.com/NREL/openstudio-geometry-editor/files/1229214/residential_template.json.txt)

Note what when you hover your mouse around the drawing area, the dot snaps in the middle of each grid cell, rather than at the grid points:
![image](https://user-images.githubusercontent.com/5861765/29379926-3d0c0650-8281-11e7-885f-98dcd

[2017-08-16 18:54] shorowit opened #133 "Space disappears when dragged into another space"
Draw two spaces like so:
![image](https://user-images.githubusercontent.com/5861765/29380062-b60e38de-8281-11e7-85b1-502d7d99ba52.png)

Drag the smaller space entirely inside of the larger one like so:
![image](https://user-images.githubusercontent.com/5861765/29380105-ddd402ea-8281-11e7-9b42-8b31d22ab965.png)

When you release the mouse button, an error message says that the operation was cancele

[2017-08-16 18:58] shorowit opened #134 "Navigation selection not preserved"
The navigation pane should strive to have an object selected at all times. Otherwise the user can be confused as to why they can't draw a rectangle, for example.

A couple situations where selection is lost:
- Create two stories with two spaces each. Select an arbitrary space on the first story. Switch to the second story and nothing is selected.
- Create multiple spaces for a story and then delet

[2017-08-16 19:01] shorowit commented on #41
A couple small things:
- "Fill" cursor should mimic the "Select" cursor and show the Hand pointer when over a space.
- The default arrow is displayed when not over the drawing grid (currently you will get, e.g., the crosshair cursor)

[2017-08-16 19:09] shorowit opened #135 "Various small UI improvements"
- [x] Add a "Save As" dialog when the user clicks Save Floorplan
- [x] Use a thicker highlight border for the selected tool (e.g., "Rectangle")
- [x] Remove highlight border from the Open Floorplan and Save Floorplan buttons.
- [x] Fix the horizontal spacing between the Import Library, Open Floorplan, and Save Floorplan buttons
- [x] When a space is selected in the navigator, scroll to it in the l

[2017-08-16 19:13] shorowit commented on #11
One way that you can see huge fonts is to open a saved floorplan and then start drawing.

[2017-08-16 19:44] macumber commented on #125
I put changes to the schema to support this https://github.com/NREL/openstudio-geometry-editor/commit/d0a68d1c79c4edafc309b40abf59f1b71894c786

[2017-08-16 20:55] macumber commented on #130
Here are my thoughts:

The model is divided into Geometry (anything under the stories element including spaces, shading, images, window instances, etc) and Resources (things that are shared across the entire model such as space_types, thermal_zones, window_definitions, etc).

- Navigator - this is used for moving around the Geometry hierarchy.  Story is always the first level object in the navigat

[2017-08-16 21:04] macumber commented on #74
Yup sounds good to me, I would be a little more specific that in grid mode you can only place vertices at a grid point.  Changing the grid after placing vertices does not affect previously placed vertices right?

[2017-08-16 21:14] shorowit commented on #74
Correct, changing the grid after placing vertices does not affect previously placed vertices. But I was thinking we should continue to allow snapping to vertices (not just grid points) for that very situation.

[2017-08-16 21:21] macumber commented on #74
Ah ok, so you can snap to grid points or vertices, makes sense.  I'm curious to give it a try.

[2017-08-16 23:57] ljbrackney opened #138 "Spaces don't show up when loading old floorplan.json"
Using fresh develop build from late PM on 8/16.  Open an old floorplan.json that worked fine before.

[floorplan.json.zip](https://github.com/NREL/openstudio-geometry-editor/files/1229778/floorplan.json.zip)

I see this.  Right geolocation, but no content.  Changing type in navigator pane doesn't do anything - always stuck with +Space as an option.
![geom1](https://user-images.githubusercontent.co

[2017-08-17 17:34] bgschiller commented on #129
@shorowit Strange, This is working for me on develop: https://trello-attachments.s3.amazonaws.com/58d428743111af1d0a20cf28/5995d380347c831a177ea7d0/b2359f93d092e5aaabc7df28ec5b205c/recording.webm

Any other advice for reproducing it?

[2017-08-17 18:02] #124 closed, assigned to nobody

[2017-08-17 18:06] shorowit commented on #129
Oops, I think I was using the undo-redo branch. Sorry for the distraction.

[2017-08-17 18:06] #129 closed, assigned to nobody

[2017-08-17 19:27] bgschiller commented on #129
ah, no worries :)

[2017-08-17 19:27] shorowit commented on #76
There will be a new proposal as part of #130

[2017-08-17 19:27] #76 closed

[2017-08-17 19:28] shorowit commented on #77
There will be a new proposal as part of #130

[2017-08-17 19:28] #77 closed

[2017-08-17 19:37] shorowit commented on #109
I think I wasn't using the latest develop. It's working now.

[2017-08-17 19:37] #109 closed, assigned to essential-breads

[2017-08-17 20:06] shorowit commented on #87
Looks good.

[2017-08-17 20:06] #87 closed

[2017-08-17 20:08] shorowit opened #142 "Image doesn't immediately display after open floorplan"
Open this floorplan:
[test.json.txt](https://github.com/NREL/openstudio-geometry-editor/files/1232468/test.json.txt)

You should see this:
![image](https://user-images.githubusercontent.com/5861765/29431529-7e697b44-8355-11e7-8157-a8d5d4558df0.png)

If you switch to story 2 and then back to story 1, the image on story 1 now appears:
![image](https://user-images.githubusercontent.com/5861765/294315

[2017-08-17 20:14] shorowit commented on #100
There are still issues related to fonts.

Open this floorplan and start drawing a space, you get super tiny fonts:
[floorplan.json.txt](https://github.com/NREL/openstudio-geometry-editor/files/1232482/floorplan.json.txt)
![image](https://user-images.githubusercontent.com/5861765/29431739-43dec7da-8356-11e7-8238-0a723e24652f.png)

Here's a floorplan where fonts are huge when you start drawing:
[flo

[2017-08-17 20:18] shorowit commented on #82
This is still an issue in the latest develop.

[2017-08-17 20:27] shorowit commented on #11
The remaining issues are covered by #100.

[2017-08-17 20:27] #11 closed

[2017-08-17 20:45] gh-23378 commented on #142
Having trouble reproducing this with any new floorplans.

[2017-08-17 20:59] shorowit opened #143 "Bugs adding images"
Use these two images:
[floorplan.jpg.txt](https://github.com/NREL/openstudio-geometry-editor/files/1232578/floorplan.jpg.txt)
[floorplan2.jpg.txt](https://github.com/NREL/openstudio-geometry-editor/files/1232580/floorplan2.jpg.txt)

New floorplan, switch to Image in Navigator, click +Image and import floorplan.jpg.
![image](https://user-images.githubusercontent.com/5861765/29433218-7c9362ac-835b-1

[2017-08-17 21:19] bgschiller commented on #106
This is done on develop.

[2017-08-17 21:19] #106 closed, assigned to nobody

[2017-08-17 21:49] shorowit commented on #142
Steps that allow me to reproduce. It actually looks like it's less that the image doesn't immediately appear and more that it's size/position is initially incorrect.

New floorplan, zoom out, draw space:
![image](https://user-images.githubusercontent.com/5861765/29435183-3ca23698-8363-11e7-88a6-20dbf170c520.png)

Add story, switch to Image in Navigator, +Image, choose floorplan.jpg:
![image](https

[2017-08-17 22:02] shorowit opened #144 "Combine Image Pan & Drag"
Currently there are separate Pan and Drag tools for images. I suggest we combine the tools such that:
- If you click while over an image and move your mouse, the image is dragged
- If you click while not over an image and move your mouse, the drawing area is panned

This would have a similar feel to the Rectangle tool where you can draw new space rectangles and pan the drawing area with the single

[2017-08-17 22:33] ljbrackney commented on #142
Sounds like a number of this issues I noted here:

https://github.com/NREL/openstudio-geometry-editor/issues/82

[2017-08-18 16:22] bgschiller commented on #121
@shorowit It looks like this is not happening for me on develop. Do you mind checking if it's still broken for you?

What I'm seeing: https://trello-attachments.s3.amazonaws.com/58d428743111af1d0a20cf28/5997142a0cfdf96f330263c7/f7914b900c5a085f802dba821f8b7399/recording.webm

[2017-08-18 16:38] shorowit commented on #121
I was able to reproduce it using develop ffb5fc1304cd847e0902202628076f6372a93e66. By the way, undo/redo is **awesome** for being able to reproduce the issue and show the steps:

![image](https://user-images.githubusercontent.com/5861765/29468356-1a3eb1dc-8401-11e7-9e1b-828eb57b3ba1.png)

![image](https://user-images.githubusercontent.com/5861765/29468358-21e5e1c6-8401-11e7-9677-a966298c2e25.png)

[2017-08-18 16:48] shorowit commented on #121
Tried the latest develop but I can't perform the same sequence of actions because I get an error:
![image](https://user-images.githubusercontent.com/5861765/29468731-b36aafb8-8402-11e7-8df2-11f7ad77bf90.png)

[2017-08-18 17:06] bgschiller commented on #135
All but the last are done in `ui-improvements-135`. @devKate, you said you wanted to tackle that last one?

[2017-08-18 19:01] #121 closed, assigned to nobody

[2017-08-18 19:01] #133 closed, assigned to nobody

[2017-08-18 19:02] bgschiller commented on #121
I just pushed a fix for this to develop, so I'm marking this 'needs verify'.

[2017-08-18 20:26] bgschiller commented on #144
@devKate I started working on this, but it looks like it can't be done as long as we're rendering images in a canvas. Would you be opposed to rendering the images *inside* the svg.

The issue is that either the canvas or the svg can accept pointer-events, but not both at the same time.

[2017-08-18 20:59] bgschiller commented on #131
fixed in #146

[2017-08-18 22:21] shorowit commented on #121
Works for me now.

[2017-08-18 22:27] shorowit opened #149 "Error when erasing"
Video to reproduce:
[Aug 18 2017 4-25 PM.webm.txt](https://github.com/NREL/openstudio-geometry-editor/files/1235779/Aug.18.2017.4-25.PM.webm.txt)

[2017-08-18 22:43] macumber opened #150 "Test Case 3: Simple Rectilinear Building - REPEAT FOR EACH RELEASE"
I am having trouble drawing a simple rectilinear building with all vertices on the grid.  There are two stories, with 3 spaces on the first floor and 2 spaces on the second floor.

![image](https://user-images.githubusercontent.com/1327850/29480257-39f216c6-8434-11e7-82ed-66d12765f0c2.png)
![image](https://user-images.githubusercontent.com/1327850/29480259-3d198b72-8434-11e7-8108-eea4392d3cd2.png)

[2017-08-18 22:44] macumber commented on #150
This should be simple to get spaces to line up but as you can see in the resulting images we are getting slivers between the floors.  I don't know the best way for you guys to test for these slivers without doing a full OpenStudio translation.

![image](https://user-images.githubusercontent.com/1327850/29480276-6abcebf0-8434-11e7-8598-0589a8652870.png)

![image](https://user-images.githubuserconte

[2017-08-19 20:07] asparke2 commented on #130
I would change:
1. Move the grid spacing, story below, north axis to the Toolbar (they are related to drawing geometry)
2. Move the "Type" and "New" button to the left side of the top of the Library
3. Make the lines between the navigator, drawing area, and library movable so when we get more than a few objects you aren't stuck with really long scrolling in a tiny window.

[2017-08-20 15:20] ljbrackney commented on #150
Probably another example of the same issue:
![surf](https://user-images.githubusercontent.com/2230150/29496073-0f1850e4-8580-11e7-9ff7-0c7fdb87a89d.png)

1) When drawing the second, L shaped space - I added the second box to complete the square of space 1-2 and all geometry disappeared.  I went ahead and added my space types and constructions in the library pane and merged - taking it on faith tha

[2017-08-20 15:24] ljbrackney opened #151 "Library Type isn't working"
Changing Type in library pane isn't working.  e.g. Changing to Thermal Zone:

![thermalzone](https://user-images.githubusercontent.com/2230150/29496115-f3c117c6-8580-11e7-8a6e-94077402ac71.png)

The New button DOES add a thermal zone, but the library pane is not reflecting the new type setting or additional at all.

[2017-08-20 15:31] ljbrackney opened #152 "Adding floors and spaces isn't working correctly"
Clicking Add Floors or Add Spaces doesn't appear to do anything.

![added](https://user-images.githubusercontent.com/2230150/29496138-738ead92-8581-11e7-8e32-0830f26ab7d1.png)

Until you hit refresh or merge then you see this:

![floors](https://user-images.githubusercontent.com/2230150/29496147-8e0fafc2-8581-11e7-8550-5f9b41def125.png)

Adding Spaces isn't working reliably, and note that existing

[2017-08-20 15:32] ljbrackney commented on #151
This text is showing up in stdout:

js: TypeError: Cannot read property 'name' of undefined
js: Uncaught TypeError: Cannot read property 'name' of undefined

[2017-08-20 15:39] macumber commented on #151
That output should be helpful, I have seen this too and it seems like something in the editor has crashed.  I wonder if there might be more information in the console errors.  To access those, you can set the following env variable before you launch the app:

    export QTWEBENGINE_REMOTE_DEBUGGING=3030

Then you can go to http://localhost:3030 in a chrome browser after you start the geometry edit

[2017-08-20 15:40] macumber commented on #151
I'm considering setting this environment variable in the app for other users to help with debugging, let me know if you find it useful.  I think the one bummer is that you should open the connection in chrome before doing stuff that might crash the editor

[2017-08-20 15:41] macumber commented on #151
@devKate we'll want to fix this, but hopefully we can get better output for you

[2017-08-20 15:43] macumber commented on #152
This might be an error with the floorplan.json that is crashing the editor.  Connecting with the chrome debugger might help.

[2017-08-20 15:59] macumber commented on #151
Here's some output I got from this approach:

`embeddable_geometry_editor.html:120 init timetravel
embeddable_geometry_editor.html:123 saving state: Object
embeddable_geometry_editor.html:123 dispatching action: importLibrary
embeddable_geometry_editor.html:123 saving state: Object {triggeringAction: "importLibrary", state: Object}
embeddable_geometry_editor.html:123 dispatching action: geometry/c

[2017-08-20 16:03] macumber commented on #152
Might be related to https://github.com/NREL/openstudio-geometry-editor/issues/151

[2017-08-21 17:10] bgschiller commented on #150
I believe this is an artifact of the way snapping currently works. I'd like to explore #74 as a potential solution for this problem. Also, I'll be doing a refactor of the snapping code to make it testable. That will make it easier to describe the issues we're experiencing.

How does that sound to you? I know it's not a direct solution to this issue, but I think there are significant problems with

[2017-08-21 21:02] macumber opened #154 "More config options"
Hey @devKate can we please add the following configuration options

- Show/hide the "Import Library", "Open Floorplan", "Save Floorplan" buttons
- Initial grid size
- Initial north axis

[2017-08-21 21:09] bgschiller commented on #74
@macumber @shorowit this is now available in develop.

[2017-08-22 03:13] macumber commented on #151
I can reproduce this on develop by drawing a rectangle in space 1, then drawing a second rectangle adjacent to it in space 1.  This needs to get fixed ASAP.

[2017-08-22 03:28] macumber commented on #102
I don't think this is fully working, maybe got stepped on by some other code changes.  Here are some quick tests I've done with the embeddable_geometry_editor.html.  For each test, I reload the page, then type these commands in the console.  If we call openFloorplan after any of these initial configurations, the data in the opened floorplan will override the initial configuration.

[code]

[2017-08-22 03:29] macumber commented on #74
How do we test this?  I don't see a button or config option to turn it on or off

[2017-08-22 03:50] shorowit commented on #74
Shows up for me in the standalone_geometry_editor
![image](https://user-images.githubusercontent.com/5861765/29547976-ac9c8110-86ba-11e7-857f-890e7b5b698f.png)

[2017-08-22 03:54] macumber commented on #152
I think this is a duplicate of #151

[2017-08-22 03:54] #152 closed, assigned to nobody

[2017-08-22 04:01] macumber commented on #138
I tested with current develop and this appears to be fixed, assigning back to @ljbrackney to test at a later date (to make sure it stays fixed)

[2017-08-22 04:10] macumber commented on #126
I made additional schema changes here, https://github.com/NREL/openstudio-geometry-editor/pull/156

@devKate if you can evaluate this pull request (basically making name required for all objects with a name) then I think this ticket is done

[2017-08-22 04:13] macumber commented on #125
I believe this is closed, @devKate ?

[2017-08-22 04:18] macumber commented on #107
Moved to OpenStudio issue https://github.com/NREL/OpenStudio/issues/2740

[2017-08-22 04:18] #107 closed, assigned to nobody

[2017-08-22 04:19] macumber commented on #105
Might be related to https://github.com/NREL/openstudio-geometry-editor/issues/151 but might be another issue with similar symptoms.  When reporting these types of crashes we should post the console output to help developers

[2017-08-22 04:21] #93 closed

[2017-08-22 04:22] macumber commented on #88
Closing here, can re-open in OpenStudio issues for specific other objects

[2017-08-22 04:22] #88 closed

[2017-08-22 04:27] macumber commented on #74
I just rebuilt and updated dependencies and now am seeing this too.  I guess that the build must have failed with outdated dependencies before.  Thanks @shorowit !

[2017-08-22 04:30] macumber commented on #74
Would have been nice for the build failure to be a little more explicit

[2017-08-22 04:36] macumber commented on #80
Let's make this a larger ticket for addressing columns in the lower grid:

- [ ]  Do not show ID or type columns for any object, they are not useful to the user
- [ ]  When creating first object of type, do not create additional columns after rename (currently type column is added after object is named)
- [x]  Reduce name complexity requirement to single character, name cannot be empty.  We should

[2017-08-22 04:49] macumber commented on #74
FYI @ljbrackney we put this in for A/B testing.  The idea is to try it out with grid snapping only and with edge snapping also to figure out which we like better.

[2017-08-22 04:49] macumber commented on #74
It might be possible to cut down some effort if we can live with grid snapping only.

[2017-08-22 13:58] shorowit commented on #135
I recommend merging the branch without the resizing item, which sounds like it's not so simple. That can be deferred.

[2017-08-22 14:24] macumber commented on #105
Sounds like this is not related to #151

[2017-08-22 14:25] macumber commented on #135
Sounds good to me

[2017-08-22 14:31] macumber commented on #126
If validation rules are required for the editor to ensure required and unique names for each object then that should be included as well (I thought we already had this?)

[2017-08-22 16:27] bgschiller opened #158 "strict grid doesn't allow closing polygons"

[2017-08-22 16:49] macumber opened #159 "Correct field types for story fields"
These field types should be numeric but are currently being stored as strings: "below_floor_plenum_height":{"type":"number"},"floor_to_ceiling_height":{"type":"number"},"above_ceiling_plenum_height":{"type":"number"}

[2017-08-22 17:41] #41 closed

[2017-08-22 20:44] #159 closed, assigned to nobody

[2017-08-22 20:46] bgschiller commented on #158
(This is now fixed on develop)

[2017-08-22 20:48] #151 closed, assigned to bgschiller, essential-breads

[2017-08-22 20:48] bgschiller commented on #151
This is now working in develop

[2017-08-22 20:52] gh-23378 commented on #126
Validation in the library prevents duplicate names

[2017-08-22 20:52] #126 closed, assigned to essential-breads

[2017-08-22 22:26] shorowit commented on #158
This still fails for some situations. I think it depends on whether the start/end point is on top of an existing polygon vertex or not. Examples below.

Works:
[Aug 22 2017 4-23 PM.webm.txt](https://github.com/NREL/openstudio-geometry-editor/files/1243562/Aug.22.2017.4-23.PM.webm.txt)

Fails:
[Aug 22 2017 4-24 PM.webm.txt](https://github.com/NREL/openstudio-geometry-editor/files/1243566/Aug.22.201

[2017-08-22 22:39] bgschiller commented on #80
@macumber What do you mean by the 'type' column? Do you mean 'Space Type', which appears only for spaces?

[2017-08-22 22:39] shorowit opened #162 "Spaces drawn when viewing zones"
1. New floorplan.
2. Switch to Thermal Zone in the Navigator.
3. Try drawing -- it will start drawing a rectangle for Space 1 - 1 even though Thermal Zones are displayed.
4. Even if you create a thermal zone, which causes Thermal Zone 1 to be selected, it will continue to allow drawing a rectangle for Space 1 - 1.

Presumably occurs because we don't have any action tool buttons defined for Thermal

[2017-08-22 22:43] shorowit opened #163 "Can't draw over space"
1. New floorplan
2. Draw rectangle for Space 1 - 1
3. Create new space
4. Try to draw a rectangle for Space 1 - 2 directly over Space 1 - 1

Gives an error about split faces but should be allowed. (The same error occurs if you draw a larger rectangle for Space 1 - 2 that includes the Space 1 - 1 rectangle inside of it.)

[2017-08-22 23:00] #80 closed

[2017-08-23 06:59] #158 closed, assigned to bgschiller

[2017-08-23 15:15] shorowit opened #167 "Undo/redo should skip cancelled actions"
If you try to draw, say, a space that splits an existing space, it results in a "operation cancelled - no split faces" message. But it's still saved as a time travel state, so that when you click undo, nothing happens in the drawing (though you still get a message: "undo geometry/createFaceFromPoints"). Can we skip cancelled actions like this?

[2017-08-23 16:07] #154 closed, assigned to bgschiller

[2017-08-23 16:07] #135 closed, assigned to bgschiller

[2017-08-23 16:12] bgschiller commented on #162
Sounds like we might get rid of Thermal Zone in the navigator in the future, so may not be an issue.

[2017-08-23 16:27] macumber opened #168 "Add version number to schema and generated floorplans"

[2017-08-23 16:29] macumber commented on #168
Add to schema

Add to package.json

Add to generated floorplans

[2017-08-23 16:29] #131 closed, assigned to bgschiller

[2017-08-23 16:29] #125 closed, assigned to essential-breads

[2017-08-23 16:32] shorowit commented on #120
I can't reproduce anymore. Seems like it's working.

[2017-08-23 16:32] #120 closed, assigned to shorowit

[2017-08-23 16:33] shorowit commented on #116
Works for me now.

[2017-08-23 16:33] #116 closed, assigned to shorowit

[2017-08-23 16:38] macumber commented on #69
For 0.3 let's change ft/m to be label outside of grid spacing box, same thing for degree with north axis

[2017-08-23 16:40] macumber commented on #69
In standalone mode, allow user to pick units in initial dialog

[2017-08-23 16:40] macumber opened #169 "Allow changing units after initial creation"

[2017-08-23 16:40] macumber commented on #169
- [ ] Allow user to change units while using the editor (also need API method)
- [ ] Ensure that opening files with different units correctly converts to current editor units
- [ ] Ensure that library/component files with units (e.g. window length) are converted to current editor units

[2017-08-23 17:04] shorowit opened #170 "Can't erase entire space"
Draw a space, try to erase the whole thing. Action is cancelled due to "no split faces". Maybe related to the bugfix from https://github.com/NREL/openstudio-geometry-editor/issues/116?

[2017-08-23 17:13] shorowit opened #171 "Import/Open/Save buttons disappear"
Open the attached floorplan. The 3 buttons in the top-right disappear.
[SFD_Multizone.json.txt](https://github.com/NREL/openstudio-geometry-editor/files/1246354/SFD_Multizone.json.txt)

It seems to work correctly for simpler floorplans.
[floorplan.json.txt](https://github.com/NREL/openstudio-geometry-editor/files/1246355/floorplan.json.txt)

cc @joseph-robertson

[2017-08-23 17:49] shorowit commented on #171
This is probably related to https://github.com/NREL/openstudio-geometry-editor/issues/154?

[2017-08-23 18:34] macumber opened #174 "Grid lines don't line up with grid points"
When using strict grid mode, I seem to be snapping to grid points that do not correspond to the visible grid lines.

Probably related to https://github.com/NREL/openstudio-geometry-editor/issues/132

[2017-08-23 18:36] macumber commented on #174
![image](https://user-images.githubusercontent.com/1327850/29632249-a740bda8-87ff-11e7-9356-4807542e051b.png)

[2017-08-23 20:19] bgschiller commented on #171
@shorowit it's because we added a key: `showImportExport`. It appears in your simpler example but not your larger one.  Here's a version of the floorplan where I've added the key. https://trello-attachments.s3.amazonaws.com/58d428743111af1d0a20cf28/599de30931ca1b493f27a9ed/69b47b74b4e166ff3b6b412ebcfdbfa1/SFD_Multizone.json

I'll update the code to be backwards compatible.

[2017-08-23 20:37] bgschiller commented on #149
@shorowit Seems to be working for me. https://trello-attachments.s3.amazonaws.com/58d428743111af1d0a20cf28/599de7494fabed498c11fb6b/7afe282dd3d2b54c0707104b6ec60cf2/recording.webm

Likely fixed by https://github.com/NREL/openstudio-geometry-editor/pull/148

[2017-08-23 20:52] shorowit commented on #149
Yep, works now.

[2017-08-23 20:52] #149 closed, assigned to shorowit

[2017-08-23 21:42] shorowit opened #177 "Library pane w/fixed header"
When you are scrolled down in the library pane, you:
1. Can no longer drag the library pane edge to resize it
2. Can no longer access the Search/Type controls

Thus, you have to scroll back to the top to access these capabilities. Is it possible to make the header of the library fixed (always viewable) when you scroll?

[2017-08-23 21:46] #168 closed, assigned to nobody

[2017-08-23 21:49] #171 closed, assigned to nobody

[2017-08-23 22:19] shorowit opened #178 "Copy objects"
There are various objects (like stories and spaces) where you might like a copy capability that preserves their properties. For stories, you might like to preserve the height. For spaces, you might like to preserve thermal zone, space type, construction set, etc. There may be additional objects worth copying, just adding this as a placeholder for now.

Adapted from https://github.com/NREL/OpenStud

[2017-08-23 22:41] ljbrackney opened #179 "Would like new floors to duplicate height settings from previous floors"
It would be a great convenience if new floors duplicated the floor-ceiling and plenum entries from the previous floor.  Also is it possible to default those fields to something "reasonable?"  Like a 10 ft floor-ceiling with 0 plenums?

[2017-08-24 16:57] DavidGoldwasser opened #180 "Unkown local mutation type"
Using geometry editor in app making a new floorplan, I was able to draw rectangle for first space. I can still draw new floor rectangles for this space, but other than that and zooming panning the map, , the interface is not responsive.

![screen shot 2017-08-24 at 10 52 14 am](https://user-images.githubusercontent.com/4857055/29678130-a7f379aa-88ba-11e7-8f8d-0d04da698033.png)

Going to preview an

[2017-08-24 17:08] DavidGoldwasser commented on #91
I was able to use + and _ to zoom when setting up map, but once I'm drawing spaces I can only use the scroll wheel, which isn't ideal on laptop. A agree zoom in out buttons or letting + - keys work would be nice.

[2017-08-24 17:32] DavidGoldwasser opened #181 "The Preview (next to merge) isn't fully functional"
The "Render By" and "Show Story" pull down choices can't be selected.

These do work in the "Preview" tab in OS app 2.1.1.

[2017-08-24 17:53] DavidGoldwasser opened #182 ""Make New Zone" in thermal zone assignment pulldown"
Often there will be a one to one mapping of space to thermal zones. It would be nice to have an option in thermal zone list to "Make New Zone". For now I just left zones empty, then when to zone view, then made a lot of thermal zones, then went back to re-assign them.

This feature could name the "New Thermal Zone" based on the space name. Sure this could be done in Apply Measures Now outside of e

[2017-08-24 17:55] DavidGoldwasser commented on #104
Could use preview and render by boundary condition, but would be more slick if in the 2d editor. Oh, well I guess the with the surface search you can't turn off the outside walls to see just interior surfaces, so would have to step through one story at a time.

[2017-08-24 18:27] DavidGoldwasser opened #185 "Choosing Thermal Zone in pulldown in left gutter above "+ Story" breaks interface"
![screen shot 2017-08-24 at 12 23 59 pm](https://user-images.githubusercontent.com/4857055/29682213-76a8a048-88c7-11e7-99e8-211a633a10b7.png)

I can switch back and forth between space and shading, but not ThermalZone, without getting error.

[2017-08-24 18:32] DavidGoldwasser opened #186 "Lockup on "+ Image""
Window comes up to browse for file, but then app freezes before I do anything (I have not browsed yet or selected an image).

I'm seeing this through OS app, I noticed in issue #143 @shorowit was able to add images in, So maybe what I'm seeing is now, or unique to use in OS app?

I was able to repeat this on new project.

[2017-08-24 18:36] shorowit commented on #186
Just tried it. It worked for me in the OS app on Windows 10.

[2017-08-24 18:44] ljbrackney commented on #186
I suspect this is an issue w/ how the file browser is being invoked from the editor - sounds like the same issue I opened for importing a floorplan.

[2017-08-24 18:46] macumber commented on #181
I've noticed this too, you should be able to open the drop down then navigate with arrow keys.  Also this issue should be in the OpenStudio repo since it is an integration thing

[2017-08-24 19:18] shorowit commented on #182
If I understand correctly, you'd like the thermal zone dropdown for spaces in the library pane to include, e.g., a "New" or "+" option?

![image](https://user-images.githubusercontent.com/5861765/29684190-5205e104-88ce-11e7-9086-cdf66d5a86c5.png)

Seems like all of the dropdowns (building unit, spacetype, etc.) could have this. Ideally you'd at least get asked for a name (perhaps defaulting to the

[2017-08-24 19:26] DavidGoldwasser opened #187 "Story multiplier doesn't make its way to zone multiplier in OSM"
Story multiplier in thermal zones are always one, even though the story multiplier is an editable field in geometry editor. Also it shows a default value of 0, when it should show 1.

[2017-08-24 19:28] DavidGoldwasser opened #188 "Story multiplier and default height are 0 in geometry editor"
Related to https://github.com/NREL/openstudio-geometry-editor/issues/179

[2017-08-24 19:31] DavidGoldwasser commented on #182
@shorowit yes, that is what I was thinking. I agree, would be nice for all objets, but I was most interested in it for thermal zones which are not a resource that I would be likely to pre-load in my model.

This approach is taken in the SketchUp Plugin Space Attributes tool that let you pick an existing attribute or make a new one on the fly.

[2017-08-24 21:05] shorowit commented on #47
A colleague keeps browser zooming out of habit. Would it be possible to disable the browser zoom?

[2017-08-24 21:08] shorowit commented on #182
For residential, we will often have pre-loaded thermal zones. I'm sure we can figure out the right functionality to make it work for all use cases.

[2017-08-24 21:41] shorowit commented on #134
New floorplan. Switch to Shading in the Navigator and click + Shading. Switch back to Space in the Navigator and the space isn't selected.

[2017-08-24 22:25] #167 closed, assigned to nobody

[2017-08-24 22:30] #132 closed, assigned to essential-breads

[2017-08-25 18:46] shorowit commented on #163
Looks good to me!

[2017-08-25 18:46] #163 closed, assigned to nobody

[2017-08-25 21:00] macumber commented on #188
Other parts of issue moved to https://github.com/NREL/OpenStudio/issues/2752

[2017-08-25 21:06] macumber commented on #181
Moved to https://github.com/NREL/OpenStudio/issues/2753

[2017-08-25 21:06] #181 closed, assigned to nobody

[2017-08-25 21:07] macumber commented on #187
Moved to https://github.com/NREL/OpenStudio/issues/2752

[2017-08-25 21:07] #187 closed, assigned to nobody

[2017-08-25 21:08] macumber commented on #186
Might be a mac only thing?

[2017-08-25 21:09] macumber commented on #186
@DavidGoldwasser if you can't reproduce using the standalone_geometry_editor.html (have to load in chrome) at https://github.com/NREL/openstudio-geometry-editor/releases/tag/v0.2.2 then we should move this to OpenStudio issues

[2017-08-25 21:10] macumber commented on #182
Marj is working on some new mockups that probably address this

[2017-08-25 21:11] ljbrackney commented on #186
I think this is an app integration issue, and not specific to the editor itself.  I've never had trouble with the file dialogs working standalone.

[2017-08-25 21:26] macumber opened #191 "Issue drawing simple case"
Start the editor, create new floorplan with map, rotate to align with building, set grid spacing to 15ft.  Draw space 1:

![image](https://user-images.githubusercontent.com/1327850/29733253-8434379e-89a9-11e7-84d7-d5ab175f1a98.png)

Extend space 1:
![image](https://user-images.githubusercontent.com/1327850/29733258-8c2fc396-89a9-11e7-9f91-a499f2370e39.png)

Create space 2 and attempt to draw:
![im

[2017-08-25 21:29] macumber commented on #191
Noticed that North Axis is set to 0 even though the map was rotated, saw same message about unknown local mutation type for setNorthAxis as reported in https://github.com/NREL/openstudio-geometry-editor/issues/180

[2017-08-25 21:37] macumber opened #192 "Do not allow undo of importFloorplan"
Undo stack should start at importFloorplan, this operation cannot be undone

[2017-08-25 21:40] DavidGoldwasser commented on #181
@macumber NREL/OpenStudio#2753 is about the preview tab, this bug is before you get to the preview tab, in the pre-merge preview. Just wanted to clarify.

[2017-08-25 21:41] macumber commented on #186
I am seeing this on Windows too in the app

[2017-08-25 21:42] #186 closed, assigned to nobody

[2017-08-25 21:42] macumber commented on #186
Moved to https://github.com/NREL/OpenStudio/issues/2754

[2017-08-28 02:27] #100 closed

[2017-08-30 21:30] shorowit commented on #170
It works now, though there is a weird artifact where an erased space name remains.

Before:
![image](https://user-images.githubusercontent.com/5861765/29895842-ded117c0-8d97-11e7-986d-1a7657233227.png)

After erasing across all spaces:
![image](https://user-images.githubusercontent.com/5861765/29895859-ed25cde8-8d97-11e7-9890-8be68f9e596b.png)

The space name label persists across zooming, panning

[2017-08-30 21:34] shorowit commented on #142
Hmm, I went through the same steps as before and see the same bug.

[2017-08-30 22:08] shorowit commented on #82
Looks good!

[2017-08-30 22:08] #82 closed

[2017-09-01 15:57] bgschiller commented on #191
@macumber Is this still happening for you? I've made a number of fixes, and can't reproduce this on develop.

[2017-09-01 18:23] bgschiller commented on #123
some work done in `overlay-prevent-button-click-123`, but not finished yet.

[2017-09-01 19:09] bgschiller commented on #47
@shorowit It looks like it's not something we have access to in js: https://stackoverflow.com/questions/23639813/how-to-prevent-a-user-from-using-ctrl-to-zoom

There might be an extension one can install to disable that behavior, but I didn't find anything solid in googling for it.

[2017-09-01 20:02] bgschiller commented on #123
Spent about 3 hours on this today. Learned some things, but I'm not much closer to a solution.

[2017-09-01 21:15] shorowit commented on #47
I can no longer reproduce any of the reported issues ("Geometry is no longer located correctly on map, cursor and geometry points aren't co-located, etc.") using the standalone tool in chrome. 🥇

@ljbrackney please open this back up if you see anything weird.

[2017-09-01 21:15] #47 closed

[2017-09-01 21:25] shorowit commented on #142
Weird, maybe I wasn't using the latest version? It's working for me now.

[2017-09-01 21:25] #142 closed, assigned to shorowit

[2017-09-01 22:39] shorowit commented on #134
Looks good now, thanks.

[2017-09-01 22:39] #134 closed, assigned to nobody

[2017-09-04 00:12] #192 closed, assigned to macumber

[2017-09-05 14:53] shorowit commented on #170
Looks good now.

[2017-09-05 14:53] #170 closed, assigned to shorowit

[2017-09-05 17:13] bgschiller commented on #69
@macumber Instead of adding to the initial dialog modal, I put a toggle where the units display. The toggle can only be switched before geometry is drawn.

When we get full unit conversion working, the UI won't have to change. We'll just permit changing that select box at any time (even when geometry exists)

[2017-09-05 17:21] shorowit commented on #123
This is not yet in develop, right?

[2017-09-05 17:24] bgschiller commented on #123
@shorowit is it not working for you? It's in develop as of 23 minutes ago: https://github.com/NREL/openstudio-geometry-editor/pull/205

[2017-09-05 17:42] shorowit commented on #123
https://github.com/NREL/openstudio-geometry-editor/commit/849389d36366d7a4f903176568b7a493815aa074 Perfect, thanks.

[2017-09-05 17:42] #123 closed, assigned to shorowit

[2017-09-05 18:21] shorowit commented on #143
Nice. Looks good.

[2017-09-05 18:21] #143 closed, assigned to shorowit

[2017-09-05 18:32] shorowit commented on #10
Yay, it works again!

[2017-09-05 18:32] #10 closed

[2017-09-05 20:04] bgschiller commented on #169
Suppose a user has a 5ft grid and has draw a 5ft x 5ft rectangle. When the user switches to meters, what should the grid spacing be? If we say "0.3048 m", that's the first time we're using fractional grid spacing. If we say "2 m" or "5 m", then there is now geometry that doesn't align with the grid.

What's the right thing to do in this case?

[2017-09-05 20:04] bgschiller opened #208 "Dragging geometry should also snap to the grid"

[2017-09-06 16:04] macumber commented on #130
Design in https://docs.google.com/document/d/1RPdgNoWUUs-DCzQSyClyNudzoE4bLxL_sFTDeL4CKNU/edit

[2017-09-06 16:22] macumber opened #209 "Perform release step - KEEP OPEN AND MOVE TO EACH MILESTONE"
Can we get a little documentation here on the release process?  What files need to be changed to increment the version number?  Stuff like that, we can refer back to this ticket for future releases.

[2017-09-06 16:27] shorowit opened #210 "Place daylighting controls"

[2017-09-06 16:33] shorowit commented on #179
The first part of this request could be related to the Copy Objects feature request (https://github.com/NREL/openstudio-geometry-editor/issues/178).

[2017-09-06 16:40] shorowit opened #211 "Pitched roof objects"
Will have various properties. Can be assigned to a space.

[2017-09-06 16:41] shorowit opened #212 "Additional space/story properties"
New properties to allow, e.g., spaces that are below-grade, spaces that span multiple stories, etc.

[2017-09-06 16:41] shorowit opened #213 "Sloped ground properties"
Properties that allow you to define, e.g., a walkout basement.

[2017-09-06 16:43] shorowit opened #214 "Place additional components"
Once https://github.com/NREL/openstudio-geometry-editor/issues/17 and https://github.com/NREL/openstudio-geometry-editor/issues/210 are implemented, we can add:
- [x] Doors (both interior and exterior)
- [ ] Skylights
- [ ] PV panels/arrays
- [ ] Illuminance maps

[2017-09-06 16:45] bgschiller commented on #209
The version number lives in three different places:

- [src/version.js](https://github.com/NREL/openstudio-geometry-editor/blob/94eba48f19db339a83093dcbcd365be4e0e550d3/src/version.js)
- [schema/geometry_schema.json](https://github.com/NREL/openstudio-geometry-editor/blob/94eba48f19db339a83093dcbcd365be4e0e550d3/schema/geometry_schema.json#L3)
- [package.json](https://github.com/NREL/openstudio-ge

[2017-09-06 18:04] macumber commented on #214
We also will want illuminance maps, can wait to do those later if not of interest for res

[2017-09-06 20:24] bgschiller commented on #17
When I'm placing a window, it needs to be on an existing edge. Are there any restrictions about where it goes on the edge? Does it's vertex need to be on a grid point?

Does the vertex_id in a window refer to the middle of the window, so it should extend width/2 to either side of that vertex?

[2017-09-06 21:21] bgschiller commented on #17
Do we want to enforce that a window's bounds must be smaller than the edge it sits on?

[2017-09-06 21:24] bgschiller commented on #17
Also, I thought windows were tied to an *edge*, but in the schema it looks like they're tied to a vertex? What if that vertex is associated with multiple edges? Seems like we'd be better off with something like

[code]

I'm just thinking we need a reference to the edge.

[2017-09-06 22:06] macumber commented on #17
Updated the schema here: https://github.com/NREL/openstudio-geometry-editor/commit/1ae3627d0cd735bcff4f2cfe9dd2b388e7c07e92

Windows can go anywhere on the edge except they should not be placed on a vertex because that makes it difficult to tell which edge it is on as each vertex is shared by multiple edges.  I think that we should not try to make the windows interact with the grid to start with.

[2017-09-06 22:10] macumber commented on #17
If an edge is deleted, then windows on that edge are deleted.

If an edge is resized, windows should stay in the same absolute location.  If a window's alpha parameter becomes <= 0 or >= 1 the window should be deleted.

If an edge is broken into two pieces (e.g. by inserting a vertex), windows should be moved to the correct edge such that alpha remains <= 0 or >= 1

(There should be unit tests for

[2017-09-06 22:10] macumber commented on #210
The vertex referenced by a daylighting control point should not be shared, i am going to update the schema to just include x and y in the control point

[2017-09-06 22:12] macumber commented on #210
When a daylighting control point is placed it must be inside a space (it is a child of that space).

If the space is deleted, the control point is deleted.

If a space is resized, any control points outside the space are deleted

If a space is moved, all daylighting control points in it are moved by the same amount and in the same direction

[2017-09-06 22:13] macumber commented on #210
https://github.com/NREL/openstudio-geometry-editor/commit/62da5a2bf6958dbe3a5ceae42419c1a72f26c465

[2017-09-06 22:14] shorowit commented on #17
And we are not worrying about a window overlapping another window, right?

[2017-09-06 22:29] bgschiller commented on #17
Thanks for the clarifications!

[2017-09-07 01:26] macumber commented on #17
Yup, user error if windows overlap

[2017-09-07 03:34] bgschiller commented on #17
It's not *always* user error...
![img_20170906_213326](https://user-images.githubusercontent.com/2491257/30144885-36ad6ecc-934b-11e7-894f-6bd88f602d52.jpg)

[2017-09-07 22:41] macumber opened #215 "Odd panning behavior"
I don't see this in the standalone editor, only the embedded one, I assume something is not initialized?

Start the editor with:
[code]

Choose floorplan with map, align the axes with industry building, then try to draw 12 ft perimeter spaces around the industry building

[2017-09-07 22:42] macumber commented on #215
After drawing, pan around, you will get weird parallax effects

![image](https://user-images.githubusercontent.com/1327850/30188373-705daf88-93eb-11e7-86bb-7e20dc15fd68.png)

![image](https://user-images.githubusercontent.com/1327850/30188366-6b15fc7e-93eb-11e7-9318-6d268dfa8738.png)

![image](https://user-images.githubusercontent.com/1327850/30188380-78976720-93eb-11e7-8a7b-5a6dfc784faf.png)

[2017-09-08 15:36] #215 closed, assigned to macumber

[2017-09-11 18:52] macumber opened #216 "Image import file types"
Image import feature should restrict dialog to supported file types.  If user selects a file that cannot be imported as an image, an error message should be shown.

[2017-09-18 17:39] bgschiller opened #218 "Component Refinements"
- [x] round the x/y coordinates 'Daylighting control created at (x, y)"
- [x] give daylighting controls "cursor-events: none;"

- [x] relocating daylighting events when a space is draw over them https://nrel-geometry-editor.slack.com/files/U4RHTMLS1/F74RZE11A/sep_18_2017_9-57_am.webm
- [x] disappearing windows: https://nrel-geometry-editor.slack.com/files/U4RHTMLS1/F74UBBUJH/sep_18_2017_9-53_am.we

[2017-09-27 15:47] shorowit commented on #210
A few bugs/questions:
1. A daylighting control can sometimes move after it's been placed. Example video:
[Sep 27 2017 9-41 AM.webm.txt](https://github.com/NREL/openstudio-geometry-editor/files/1337801/Sep.27.2017.9-41.AM.webm.txt)
2. I sometimes see the finalized daylighting control one grid cell off from where it was displayed when I clicked the mouse to place it.  Example video:
[Sep 27 2017 10-

[2017-09-27 16:20] macumber commented on #211
https://github.com/NREL/openstudio-geometry-editor/tree/pitched-roof

[2017-09-27 20:36] shorowit opened #222 "Editor errors"
I'm seeing two issues with the latest code in develop:

1. There is constant flashing of the display when drawing spaces, placing components, etc. Error message:
`standalone_geometry_editor.html:30 Uncaught TypeError: Cannot read property 'sourceEvent' of null
    at nl (standalone_geometry_editor.html:30)
    at Object.il [as mouse] (standalone_geometry_editor.html:30)
    at a.highlightSnapTarge

[2017-09-28 17:57] shorowit commented on #222
Fixed by deleting the node_modules/ directory and doing a fresh npm install, as described at https://github.com/bgschiller/d3-event-issue

[2017-09-28 17:57] #222 closed, assigned to bgschiller

[2017-09-28 20:55] LyleKeck commented on #182
It would be nice to have an option to 'Create new ThermalZone for each space' (automatically) similar to the SketchUp Plugin option under preferences.  [tested using OS 2.2.2]

[2017-09-28 21:04] LyleKeck opened #224 "Keep space coordinates when drawing space and zooming"
When drawing a space, it would be nice not to lose the space when zooming in or out.  Currently if you start drawing a space and then re-scale the grid using the mouse scroll wheel, the space you were drawing disappears. [Tested in OS 2.2.2]

[2017-09-28 21:08] LyleKeck opened #225 "Allow DXF/DWG import"
Must have for practitioners.

[2017-09-28 21:14] LyleKeck opened #226 "Cursor change for image resize"
When resizing an image using the drag button, it would be helpful if the cursor changed when the corner mouses over or clicks the corner of the image.  It took me a minute to figure out how to resize the imported image.  [Tested in OS 2.2.2]

[2017-09-28 21:18] ljbrackney commented on #225
The expectation is that practitioners who need that sort of functionality would use a different workflow - e.g. Sketchup, gbXML import, etc.  The floor plan workflow is intentionally simplified and limited.

[2017-09-28 21:24] LyleKeck commented on #225
The [website](http://nrel.github.io/OpenStudio-user-documentation/reference/geometry_editor/#image-import) says DXF may be supported in the future.  I'm just providing my feedback after testing.

[2017-09-28 21:33] macumber commented on #225
Thanks for the feedback @LyleKeck we do hear the requests for DXF/DWG and would love to have that feature but there are not a lot web libraries for dealing with those file formats.  So we had to skip this feature for the first release, but hopefully it can be brought in at some point in the future.

[2017-09-28 22:06] shorowit commented on #224
Agreed. Along the same lines, it would be nice if you could pan the drawing area while drawing a space. This might prevent the situation of having to zoom out while drawing a space.

Here's an example of how that worked in BEopt:
[Sep 28 2017 4-03 PM.webm.txt](https://github.com/NREL/openstudio-geometry-editor/files/1342502/Sep.28.2017.4-03.PM.webm.txt)

[2017-09-28 22:11] ljbrackney commented on #224
+1!

[2017-10-10 18:38] bgschiller commented on #130
I'm still making progress on this. Here are the latest set of assumptions I'm making based on the design document. Please correct me where I'm wrong, but I'm going to move forward with these assumptions otherwise.

"The eraser tool could also serve as a way to delete items" We can make this happen, but we currently keep the space around so you can add geometry: https://trello-attachments.s3.amazon

[2017-10-10 19:01] shorowit commented on #130
A couple thoughts...

I agree that the space shouldn't be deleted when erasing the space's geometry. There's a separate mechanism for deleting the space, and frankly there's no harm to have a space around that doesn't have an associated geometry.

Regarding images, I continue to maintain that it would be a simpler UI to just allow a single image per story (on/off). If a user really needs multiple

[2017-10-13 15:57] shorowit opened #228 "Property defaults/constraints/units"
Many object properties default to 0 or null, whereas they really should be > 0. I suggest we use values from the first example object in the default_library.json. So:

Window Definition:

- Height: 4
- Width: 2
- Sill Height: 3

Daylighting Control:

- Height: 3
- Illuminance Setpoint: 300

Pitched Roof:

- Type: Gable
- Pitch: 6

For Story, I recommend:

- Floor to Ceiling Height: 8 (Dan might wa

[2017-10-13 15:58] shorowit commented on #228
The defaults should probably also be in the schema, according to @macumber.

[2017-10-17 15:38] shorowit opened #230 "Undo bug when library pane collapsed"
This may not be worth working on considering the UI changes coming, but documenting it nonetheless.

Undo/redo has been generally working well. But I can reproduce a bug as follows:

1. Create new floorplan and draw a rectangle.
2. Collapse the library (bottom) pane by double clicking on its top edge. You should see this:
![image](https://user-images.githubusercontent.com/5861765/31674226-8254d4f8

[2017-10-23 20:31] shorowit opened #233 "New UI initial feedback"
The UI is a **huge** step forward in terms of usability! Great work. Here's my list of random stuff that I found while playing with the latest develop.

- [x] I find it confusing that there is a Spaces list displayed on the left (with which you can select spaces) when you are on the Assign tab. The Components tab is more confusing in this respect as, e.g., Windows instances show up for selection,

[2017-10-24 20:21] bgschiller commented on #233
@shorowit I finished most of these items. A couple seemed like they needed some more discussion. I'll add those below, as well as the items from slack. The ones that are checked off are available in the `ui-feedback-233` branch.

- [x] I find it confusing that there is a Spaces list displayed on the left (with which you can select spaces) when you are on the Assign tab. The Components tab is more

[2017-10-31 14:07] shorowit commented on #91
@bgschiller This has been implemented now, right?

[2017-10-31 15:04] bgschiller commented on #91
@shorowit yep, c'est fini!

[2017-10-31 15:13] shorowit commented on #233
Looking good, @bgschiller!

- [x] With regard to the first item ("I find it confusing that there is a Spaces list displayed..."), I tend to feel like we should just hide the child pane in the Navigator for both Assign and Components tab. This should be easy to implement, and as far as I can tell, the only drawback is that you can no longer rename component _instances_ (not a big deal?). cc @macumb

[2017-10-31 15:17] #91 closed

[2017-10-31 15:25] shorowit commented on #233
- [x] The "search" capability should skip any color code fields.
![image](https://user-images.githubusercontent.com/5861765/32232138-00145c20-be1d-11e7-8c5d-6f9b5b401c99.png)

[2017-10-31 15:29] shorowit commented on #233
- [x] The View By dropdown is not available on the Components tab. Is this intentional, or accidentally caused by the Place/Remove buttons? (I still hold out hope that we can make the Place/Remove buttons go away and merge their capabilities :smile:)

[2017-10-31 15:37] #230 closed, assigned to nobody

[2017-10-31 15:38] shorowit commented on #226
Looks good in the latest develop. And a super fancy implementation, at that.

[2017-10-31 15:38] #226 closed, assigned to nobody

[2017-10-31 15:40] shorowit commented on #218
Looks good to me.

[2017-10-31 15:40] #218 closed, assigned to macumber, shorowit

[2017-10-31 15:41] shorowit commented on #210
This is all working as I expect.

[2017-10-31 15:41] #210 closed, assigned to shorowit

[2017-10-31 15:44] shorowit commented on #174
I have not seen this behavior in a while.

[2017-10-31 15:44] #174 closed, assigned to macumber

[2017-10-31 15:47] shorowit commented on #177
This works as expected in the latest develop. Thanks!

[2017-10-31 15:47] #177 closed, assigned to nobody

[2017-10-31 15:47] shorowit commented on #162
No longer applies.

[2017-10-31 15:47] #162 closed, assigned to nobody

[2017-10-31 15:49] shorowit commented on #233
- [x] When clicking the + to create, e.g., a new building unit, the new object should immediately become selected in the list.

[2017-10-31 15:54] shorowit commented on #233
- [x] It's not clear to the user which property fields are editable vs read only. Examples of read only fields are Total Count for window definitions objects and Spaces for story objects. Can we use a border highlight (like seen below) to indicate the editable fields? I guess we will need a different border highlight to indicate the _active_ editable field.
![image](https://user-images.githubuserc

[2017-10-31 15:59] shorowit commented on #110
This has been implemented!

[2017-10-31 15:59] #110 closed, assigned to nobody

[2017-10-31 16:03] shorowit commented on #233
- [x] This applies to both Assign/Components tabs. If you have, e.g., a thermal zone selected and then click on the building unit toolbar button, 1) the thermal zone should be deselected, 2) the view by should immediately change to building unit, and 3) if there are thermal zone objects available, the first one in the list should be selected. I also wonder whether the thermal zone should be immedi

[2017-10-31 16:07] shorowit commented on #144
This seems implemented in develop. Right, @bgschiller ?

[2017-10-31 16:23] bgschiller commented on #144
Yes, that's right. 🎉

On Tue, Oct 31, 2017 at 10:07 AM, Scott Horowitz <notifications@github.com>
wrote:

[2017-10-31 16:26] #144 closed, assigned to nobody

[2017-11-08 17:23] shorowit commented on #233
A few more issues:
- [x] The order of objects (spaces, stories) in expanded panes is reversed from the collapsed panes. For example:
![image](https://user-images.githubusercontent.com/5861765/32563447-8754fa9e-c46e-11e7-905a-b5432a4c5cea.png)
![image](https://user-images.githubusercontent.com/5861765/32563453-8a138aa2-c46e-11e7-84b9-84b853947271.png)
- [x] The space's Open to Below property is not

[2017-11-08 17:31] shorowit commented on #233
- [x] When opening an existing floorplan, it should default to the lowest story selected. It currently defaults to the highest story selected.

[2017-11-08 17:32] shorowit commented on #233
- [x] When I expand the stories pane, all stories say there is 1 shading object even though I have no shading objects.

[2017-11-08 17:34] shorowit commented on #233
- [ ] I still see double scrollbars sometimes. For example:
![image](https://user-images.githubusercontent.com/5861765/32564088-5306d5d0-c470-11e7-9eaa-62ff850efff3.png)

[2017-11-08 17:40] shorowit commented on #233
- [x] When switching to another story and then coming back, the space that was last selected for the story should be preserved.

[2017-11-08 17:55] shorowit commented on #233
- [x] When I create pitched roof objects, the dropdowns in the space pane show that a pitched roof object has been automatically assigned whereas it shows as unassigned on the Assignments tab. Also, there is no way to unassign using the space pane dropdown. I believe this applies to other space assignments too?

[2017-11-13 22:58] shorowit commented on #233
A few items I noticed in the latest build:
- [x] My mouse clicks don't always seem to be registering when drawing spaces. This seems like a recent regression.
- [x] When you have, e.g., a window instance selected, clicking the X button to delete it does nothing.
- [x] Remove "Definition"/"Defn" from the Components navigator dropdown. This should also help make the >> button fit in the pane.
- [x]

[2017-11-15 00:12] shorowit commented on #233
Nice work!

A few small bugs:
- [x] Create a new floorplan, change grid spacing to 1 ft, zoom in until you can see grid lines, draw a space, expand space navigator pane, then collapse it. Drawn space is no longer at the position it previously was (and often disappears off the screen).
- [x] When positioning, e.g., a window, but you decide to pan the drawing, the window artifact remains during the

[2017-11-18 00:38] shorowit commented on #233
I think this giant ticket has probably outlived its usefulness. Awesome work, @bgschiller, things are looking good to me. 🥇 👍 💯

[2017-11-18 00:38] #233 closed, assigned to bgschiller

[2017-11-18 00:40] shorowit commented on #224
This is working really well in the latest develop. You can pan and zoom without losing the space that you're actively drawing.

[2017-11-18 00:40] #224 closed, assigned to nobody

[2017-11-18 00:41] shorowit commented on #208
No longer applicable.

[2017-11-18 00:41] #208 closed, assigned to nobody

[2017-11-18 00:43] shorowit commented on #130
With the new design implemented, I don't think this issue is relevant anymore.

[2017-11-18 00:43] #130 closed, assigned to essential-breads

[2017-11-18 01:00] shorowit commented on #74
This is included by default in the latest versions.

[2017-11-18 01:00] #74 closed

[2017-11-21 14:14] shorowit opened #244 "Can't reopen floorplan json"
I created this file less than a week ago but cannot re-open it.
[residential_sfd_template.json.txt](https://github.com/NREL/openstudio-geometry-editor/files/1491637/residential_sfd_template.json.txt)

Here is the error that I get:
[code]

[2017-11-27 17:53] bgschiller commented on #244
@shorowit @macumber I found the problem. I introduced some bad code in b2f2f9dc0480e03760d99bac3a1b6af0ddd6b8b7, on Nov 8th. I have a fix ready.

Question: How much do we care about the floorplans created during that time? Here are some options, in increasing level of effort:

1. Ditch those floorplans. They cannot be imported.
2. Send them to me and I will fix them 'by hand'.
3. I will create a t

[2017-11-27 18:03] macumber commented on #244
Not saying we need it for this case, but the editor should have some code to handle updating old JSON files to new ones.  Really this only needs to handle JSON files created at tagged releases.  I would suggest that we create and save a JSON file for each tagged release, then add a test showing we can import each of these.  Does that sound reasonable?  For this particular regression I am not reall

[2017-11-27 18:07] bgschiller commented on #244
@macumber totally agree. We actually have a floorplan from 2017-08-31, and we test importing that on every build.

The test that coulda/woulda/shoulda caught this is "Do an export, then try doing an import with that file". I'm working on writing that now.

[2017-11-27 18:13] macumber commented on #244
Cool, what do you think about capturing exports from every release and testing those as well?

[2017-11-27 18:19] bgschiller commented on #244
@macumber yep, that sounds good to me, but difficult to automate. I'll plan on adding them manually as we do releases.

[2017-11-27 19:15] macumber opened #248 "edge_ids and other properties changed from array type to object type"
This is a critical error, there should be a test to validate exported files against the schema, that would have caught this

[floorplan.json.txt](https://github.com/NREL/openstudio-geometry-editor/files/1507247/floorplan.json.txt)

[2017-11-27 19:19] macumber opened #249 "Put ground settings into collapsible "Ground Settings" container"
![image](https://user-images.githubusercontent.com/1327850/33284677-1c38cb92-d36d-11e7-96a9-7fd3007e15f5.png)

[2017-11-27 20:36] macumber opened #250 "Default library units not respected"
The default library units are in ft, however if you start a project in meters they do not seem to be translated (it appears that the first window and first daylighting control point are used as defaults)

https://github.com/NREL/openstudio-geometry-editor/blob/develop/schema/default_library.json#L4

[2017-11-27 20:37] macumber commented on #250
I am not actually sure if the roof pitch units change in SI?  @shorowit ?

[2017-11-27 22:51] shorowit commented on #250
The roof pitch is a ratio so it is unit-less.

[2017-11-28 01:03] macumber commented on #250
Cool, I thought it might have been in inches/foot or something like that

[2017-11-29 18:30] bgschiller commented on #244
@shorowit here's the repaired file: [residential_sfd_template.json](https://trello-attachments.s3.amazonaws.com/58d428743111af1d0a20cf28/5a1efcc177cc6c47ef74cdc3/4465bd401ef9e771de5827550abe96a9/residential_sfd_template.json)

[2017-11-29 19:08] shorowit commented on #244
Thanks!

[2017-11-29 19:08] #244 closed, assigned to bgschiller

[2017-11-29 19:11] shorowit commented on #249
Looks good to me.

[2017-11-29 19:11] #249 closed, assigned to bgschiller

[2017-11-29 19:31] shorowit opened #253 "Face with extra vertices/edges"
@bgschiller @macumber Here's my first example.

[Nov 29 2017 12_14 PM.webm.txt](https://github.com/NREL/openstudio-geometry-editor/files/1515214/Nov.29.2017.12_14.PM.webm.txt)
[floorplan.json.txt](https://github.com/NREL/openstudio-geometry-editor/files/1515216/floorplan.json.txt)

The (x,y) vertices for face id 13 is:
(-10,10)
(20,10)
(20,45)
(20,45)
(20,80)
(-10,80)
(-140,80)
(-140,-40)
(-10,-40

[2017-12-06 17:20] #17 closed

[2017-12-06 17:27] bgschiller opened #256 "name change"

[2017-12-06 17:28] bgschiller opened #257 "new Window Definition Types: Window to Wall Ratio and Repeating Window"

[2017-12-06 17:31] bgschiller commented on #228
Read these from the Schema

[2017-12-06 17:32] shorowit commented on #211
Implemented!

[2017-12-06 17:32] #211 closed, assigned to nobody

[2017-12-06 17:32] shorowit commented on #213
Implemented!

[2017-12-06 17:32] #213 closed, assigned to nobody

[2017-12-06 17:33] shorowit commented on #212
Implemented!

[2017-12-06 17:33] #212 closed, assigned to nobody

[2017-12-06 18:25] macumber commented on #256
New name will be FloorspaceJS, repo name will be floorspace.js

sound good @bgschiller @shorowit

[2017-12-06 18:30] shorowit commented on #256
Floorspace, not Floorplan? 😕

[2017-12-06 18:49] macumber commented on #256
We thought floorplan was a little too general and not BEM enough, I don't want people thinking this is a general purpose architectural widget.

[2017-12-06 18:50] macumber commented on #256
NREL legal did the trademark search on Floorspace

[2017-12-06 20:05] shorowit commented on #256
Seems fine then.

[2017-12-06 22:24] macumber commented on #256
Just renamed the repo https://github.com/NREL/floorspace.js

- [x] Update references in text/documentation to FloorspaceJS
- [x] Make sure CI is still working
- [x] Make sure githubpages are working
- [x] Update icon

[2017-12-06 22:25] macumber commented on #256
@bgschiller assigning to you

[2017-12-07 16:22] #180 closed, assigned to macumber

[2017-12-07 16:25] bgschiller commented on #256
@macumber I think everything went off without a hitch!

[2017-12-07 16:27] macumber opened #259 "Provide updated color palettes for stories, spaces, shading, etc"
Also building unit, thermal zone, space type, construction set, pitched roof

Right now all object types share the same pallette and start with the same color

[2017-12-07 16:46] macumber opened #260 "Import image improvements"
- [x] Provide warning if image can't be imported (e.g. select a pdf)
- [x] What does z do?
- [x] Is image opacity working?  I can enter values of -100, 0, 0.1, 0.99, 1, 100, 1000 and I don't see any difference after importing png
- [x] Can you no longer move an image?

[2017-12-07 16:46] #185 closed, assigned to macumber

[2017-12-07 16:50] #191 closed, assigned to macumber

[2017-12-07 16:53] #72 closed

[2017-12-07 17:00] macumber commented on #209
For each release try the following use cases:

https://github.com/NREL/floorspace.js/issues/84
https://github.com/NREL/floorspace.js/issues/85
https://github.com/NREL/floorspace.js/issues/150

[2017-12-07 17:02] #138 closed, assigned to ljbrackney

[2017-12-07 17:02] #102 closed

[2017-12-07 17:02] #105 closed, assigned to macumber

[2017-12-07 17:03] #69 closed

[2017-12-07 17:25] macumber opened #261 "Highlight selected zone in assignment mode"
Should highlight all spaces assigned to selected zone

[2017-12-07 17:34] macumber commented on #261
Same with all the other assignment things

[2017-12-07 20:47] #256 closed, assigned to macumber

[2017-12-07 21:02] bgschiller commented on #260
According to [MDN](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/image),

I checked .gif and it worked, so I allowed it. .tiff did not.

`z` is intended to control image layering -- which one is on top. It's not implemented right now, so I hid the column.

Image opacity is now working (in my branch).

Image moving is also working in the branch.

[2017-12-07 22:47] macumber commented on #260
My comment on images was to provide an error message if the file type can't be read, if you pick a pdf then nothing happens and you get no warning why

[2017-12-08 04:33] bgschiller commented on #260
@macumber ah, I got you. My solution to that was to just prevent selecting the types of images that cause that issue.

![](https://i.imgflip.com/20pflg.jpg)

[2017-12-13 17:17] macumber opened #268 "Freeze first name column in grids when scrolling horizontally"
Need to be able to see the name of the object when editing fields to the right in the grid

[2017-12-14 21:55] shorowit commented on #169
The latest version allows changing units after creation.  I noticed a couple issues:
- The grid size text box is really small. Can we make it larger so that you can see, say, 4 digits? At the moment, I can only see one and a half digits.
- If you switch from 5 ft to meters (1.524) and back to feet, you get 4.99999999998. Should we be rounding to, say, 3 decimal places?
- I sometimes get an error:

[2017-12-15 23:48] shorowit opened #271 "Rotating map undoes zoom/pan state"
Create a floorplan with a map. Zoom out and pan around. Use alt+shift to rotate the axis -> map immediately resets to its original zoom state & origin.

[2017-12-19 20:07] macumber opened #272 "Remove redundant items from schema"
Remove vertex::edge_ids and edge::face_ids, these can be populated internally in the editor on import and removed on export

[2017-12-19 20:17] #261 closed, assigned to macumber

[2017-12-19 20:19] #260 closed, assigned to macumber

[2017-12-19 20:22] #250 closed, assigned to macumber

[2017-12-19 20:23] #228 closed, assigned to macumber

[2017-12-19 20:23] #257 closed, assigned to macumber

[2017-12-19 20:54] shorowit opened #273 "Remove story colors from UI?"
@macumber @bgschiller I'm guessing story colors were added for OpenStudio, but I don't see why they should be shown in the FloorSpaceJS UI. It only adds confusion as to what is being viewed by in the drawing area. And I don't believe we ever view by story?

[2017-12-19 22:17] macumber commented on #273
They don't bother me

[2017-12-19 22:19] macumber opened #274 "Enforce unique names for all objects"
I probably gave bad advice on this in the past, but we should enforce that names are unique across all object types.  OpenStudio currently does not allow a Space and SpaceType to have the same name, possibly other types as well.

[2017-12-19 22:23] shorowit commented on #274
Can't OpenStudio just handle it on its end? I have floorplan files where I've used the same name for spaces, spacetypes, zones...

[2017-12-19 22:40] macumber commented on #274
It can, but this might be confusing and could potentially mess up the merging

[2017-12-19 22:41] macumber commented on #274
If you think this is a feature we need to keep then we can keep it, but if it isn't a big deal we should get rid of it

[2017-12-28 16:21] ljbrackney opened #275 "Flip double_arrows.svg on collapse"
Very minor nitpick.  The same svg is used for both expanding and collapsing objects, which is visually non-intuitive.  Need to create a mirrored version of double_arrows.svg and use for collapse.

[2017-12-28 16:22] ljbrackney commented on #275
Also the collapse/expand icons might benefit from being just a smidge larger.

[2017-12-31 00:52] ljbrackney opened #276 "Unable to change choice menu selections when previewing geometry in editor"
When using the preview button within the editor, the preview window opens normally.  Pan, rotate, zoom, and radio buttons all work okay.  Attempts to change story or render modes do not work.

Merging geometry and using preview Sub-Tab in the Application works fine.

[2018-01-04 21:35] ljbrackney opened #279 "Space and zone colors are mismatched and not sticky"
Setting space and zone colors within the editor or app don't remain synced.  See the following screenshots.  In this case, I assigned Space Types within the App that came along with colors.  I created and assigned Thermal Zones within the editor's Assignment Sub-Tab.  The colors do not remain sticky when returning to the editor and navigating back to the assignment Sub-Tab - they always appear bla

[2018-01-04 21:37] ljbrackney commented on #279
This problem seems limited to the editor's behavior in the Assignments Sub-Tab.

[2018-01-17 17:23] shorowit commented on #275
I see the svg change between left and right facing arrows, but agree that they should be larger. I fear that new users will not pick up on the ability to expand the panes, which is currently required for certain operations (like defining window sizes).

[2018-01-17 17:34] shorowit opened #280 "Summary geometry information"
There are various important geometry infos that a user might want to know. Some examples:
- Space floor areas (and dimensions, if rectangular)  -- this information is available while drawing a space but not once the drawing operation is complete
- Space type floor areas (which may be how we determined, e.g., total conditioned/finished floor area for residential?)
- Building unit floor areas (by sp

[2018-01-17 17:36] shorowit commented on #274
I feel strongly that we shouldn't enforce this.

[2018-01-17 17:41] #188 closed, assigned to nobody

[2018-01-17 17:43] shorowit commented on #253
There is still the "issue" where you can generate two edges in series with identical interior/exterior conditions, whereas you would like for them to be collapsed. The current behavior results in extra surfaces (which impacts simulation speed) as well as having to, e.g., place window WWR along more edges than you'd expect. It'd be nice to fix this.

[2018-01-17 17:45] shorowit commented on #78
This has been changed!

[2018-01-17 17:52] ljbrackney commented on #253
I can confirm this.  It tends to occur when you "extend" a space with an additional rectangle.  The two rectangles form additional exterior surfaces.  Here's an example in the "Cafeteria" space.

![segment2](https://user-images.githubusercontent.com/2230150/35058199-0a1eb0bc-fb6c-11e7-9444-0313fa375f6a.png)
![segment](https://user-images.githubusercontent.com/2230150/35058207-0e46ac44-fb6c-11e7-8a

[2018-01-17 18:01] macumber commented on #253
@ljbrackney still occuring on the most recent geometry-editor branch?

[2018-01-17 18:17] macumber commented on #253
Sounds like this is still happening after the simplify code was added to OS translation.  I think it may be too much to do this in the translator, especially as joining these edges might change windows.  I wonder if this should be an editor feature instead?  Might need to be a user interactive tool?  Click on co-linear edges to join them?

[2018-01-17 18:39] shorowit commented on #253
Yes, I was proposing the change to the editor. Seems like the editor should automatically retain windows in the same way it currently handles it. For example:
[FloorspaceJS.webm.txt](https://github.com/NREL/floorspace.js/files/1640198/FloorspaceJS.webm.txt)

[2018-01-18 17:43] macumber commented on #89
This would be automatically applied to new spaces as the default

[2018-01-18 19:04] shorowit opened #281 "Confusing filled area for some polygons"
Two examples below. The second one doesn't bother me as much, but the first one is quite confusing.
[FloorspaceJS.webm.txt](https://github.com/NREL/floorspace.js/files/1644091/FloorspaceJS.webm.txt)
[FloorspaceJS2.webm.txt](https://github.com/NREL/floorspace.js/files/1644095/FloorspaceJS2.webm.txt)

[2018-01-19 22:18] macumber opened #282 "Embedded previewer"
Initial build of OpenStudio FloorspaceJS -> ThreeJS conversion is available at:

https://github.com/macumber/emscripten-test/releases/tag/0.1

See test script to run this at:

https://github.com/macumber/emscripten-test/blob/master/test.js

Example html which displays a ThreeJS component is available at:

https://github.com/macumber/openstudio-vA3C/blob/master/ViewModel/resources/report.html.in#L6

[2018-01-19 22:18] macumber commented on #282
@shorowit FYI

[2018-01-19 22:19] macumber commented on #282
Running the example with node:

![image](https://user-images.githubusercontent.com/1327850/35174308-1e89e190-fd2c-11e7-8935-17b7af527597.png)

[2018-01-19 23:16] macumber commented on #282
https://github.com/macumber/emscripten-test/blob/master/index.html

![image](https://user-images.githubusercontent.com/1327850/35176048-1de32320-fd34-11e7-9b92-35075e937e8f.png)

[2018-01-23 20:18] macumber opened #283 "Story above_ceiling_plenum_height not written out"
I tried to specify a story with 2 ft height and ceiling plenums and a floor to floor height of 8, but the above_ceiling_plenum_height came out as 0:

[code]

[2018-01-23 20:56] macumber opened #284 "No way to indicate that Space below_floor_plenum_height etc are not set"
Looking at the schema these fields of Space allow for null values and have no default, however they seem to be exported as 0.  Is there a way to show in the app and on export that they are not set (and therefore should use the Story's value)?

[2018-01-23 21:02] macumber commented on #284
Applies to fields that exist at the Story and Space levels:

[code]

[2018-01-23 21:11] macumber opened #285 "Color format"
Colors are of the form "color": "#8ce", which is short hand for "#88ccee"

Using the long form is easier for me to digest, can we change it and support upgrading old files?

[2018-01-24 00:20] #283 closed, assigned to bgschiller

[2018-01-24 21:52] macumber opened #289 "Ability to set heights and floor offsets for shading groups"
Main use case is to specify shading group on ground level then specify entire building height rather than create shading on multiple stories

[2018-01-24 21:52] macumber commented on #289
Will we want shading to have roofs?  Seems like that might be useful but probably can't share a roof between spaces and shading.

[2018-01-24 23:04] shorowit commented on #289
It would be nice to be able to assign a pitched roof to shadings.

The pitched roof object is a definition, so if you assign it to, say, two non-adjacent spaces, each space would get a separate roof as defined by the pitched roof object. If the spaces are adjacent, then there is a single roof that spans both spaces. The same logic should work for shadings.

Though this makes me wonder: how do you

[2018-01-24 23:33] macumber commented on #289
Yeah I just did this (added a test) currently there is no intersection/matching of surfaces with shading objects

[2018-01-24 23:35] macumber opened #290 "Temporarily hide untranslated items"
- [ ] Story multiplier
- [ ] Ground floor offset
- [ ] Ground azimuth angle
- [ ] Ground tilt slope
- [ ] Pitched roof

[2018-01-25 02:47] macumber commented on #282
Initial proof of concept would be a button to export a ThreeJS JSON.  That file can be loaded into existing viewers like https://codepen.io/MrGlox/pen/EyaLXN and https://threejs.org/editor/

[2018-01-29 23:23] macumber commented on #279
I think this is really an OpenStudio bug https://github.com/NREL/OpenStudio/issues/2969

[2018-01-30 00:55] macumber commented on #282
![image](https://user-images.githubusercontent.com/1327850/35542515-9b4b63e0-051d-11e8-8272-9a036cc08edb.png)

[2018-01-30 20:20] macumber opened #291 "Import Library not working"
When starting a new floorplan I am attempting to seed the floorplan with space types and other objects from our current model.  I am starting the app with the following commands sent to the embedded editor:

[code]

I have tried the previous code pushing the "Create New Floorplan" button at both step 2a and 3a.  In both cases, I do not see the expected space type objects available in the assignmen

[2018-01-30 20:23] macumber commented on #291
@ljbrackney the symptom here is that your space types, etc don't show up in your floorplan the first time you create it.  If you switch tabs and come back, your space types will be merged in

[2018-01-30 20:33] macumber commented on #290
If you want to do this with an init config option that is fine otherwise just a temporary todo comment to mark the commented out code

[2018-01-30 20:37] macumber commented on #285
Still shows up like #8ce in the editor but export looks good

[2018-01-31 00:09] macumber opened #292 "Default floor_to_ceiling_height should be interpreted in meters"
Default value in schema is 3 which should be interpreted according to default units in schema which are 'm'.  Currently starting a new floorplan in units of 'ft' results in floors which are 3 ft high.  Logic should apply to other length attributes like window height, etc

[2018-01-31 00:40] #292 closed, assigned to bgschiller

[2018-01-31 00:40] macumber commented on #292
Thanks to @shorowit for helping me figure out this was invalid

[2018-01-31 02:49] macumber opened #293 "Change project::config::units"
enum should be 'ip' or 'si', default is 'ip', other default values in schema are evaluated in 'ip' units

[2018-01-31 06:02] macumber opened #294 "Need a way to update floorplan while running"
After I export a floorplan and merge it with my application, I get new objects in my application.  I want to update the objects in the floorspace editor with ids pointing to those new objects.  I have an updated JSON file.  If I do importLibrary I get duplicate objects.

[2018-01-31 06:09] macumber commented on #294
I can call openFloorplan with the updated JSON, is that ok?

[2018-01-31 06:20] macumber commented on #294
Calling openFloorplan seems to work,  I want to run this by @bgschiller, if he thinks the general approach is ok then I am fine to close this.

The most noticeable thing is that openFloorplan resets the zoom to fit all geometry.  Might want an option to keep current zoom when opening the file?  The editor does seem to preserve the tab you are on when re-opening.

[2018-01-31 06:22] macumber commented on #294
Might need some tests for this?

[2018-01-31 17:52] bgschiller commented on #294
notes from meeting:
calling openFloorplan is safe to do. We'll add an option to openFloorplan to prevent zooming to fit

[2018-01-31 18:00] macumber commented on #293
If field has default and ip_units and si_units, assume default is in ip_units.  If app is in si units, convert defaults from ip_units to si_units

[2018-01-31 18:04] shorowit commented on #293
To be clear, you can "assume default is in ip_units" because the schema specifies the default as ip in Project>properties>units>default.

I imagine that the only complication will be the case when the user opens the app and immediately changes from ft to m, as there can be existing objects (e.g., stories) already defined whose properties would need to be updated.

Also note that beyond the ft<->m

[2018-02-02 16:31] bgschiller commented on #291
Maybe I'm misunderstanding the problem, but I'm seeing that it works in either order. So if I do:

1. `window.api.setConfig({ "initialGridSize":15," initialNorthAxis":0, "online":true, "showImportExport":false, "showMapDialogOnStart":true, "units":"ip" });`
2. `window.api.init();`
3. click the "Create New Floorplan" button
4. `window.api.importLibrary(JSON.stringify({ "building_units":[], "constru

[2018-02-02 16:46] bgschiller commented on #290
@macumber I think the best way to do this is by adding a stylesheet to hide those items when you're  initializing the app. No extra api function is needed:

[code]

[2018-02-02 18:19] macumber commented on #290
This is awesome, thanks @bgschiller !

Does it matter if I evaluate this before or after calling init?

[2018-02-02 18:58] bgschiller commented on #290
No problem :)

And it's fine to run this whenever (before or after init).

[2018-02-07 06:48] fsudaman opened #298 "Issue with segmented edges"
![segmented lines](https://user-images.githubusercontent.com/9958226/35902340-f3986c24-0c2e-11e8-9283-ad067b78dc41.png)
Intersecting and Matching had several flaws, despite being drawn in 2D and with grid lines. When importing to SketchUp, the drawing appears to have small number of errors relating to segmented edges (see image attached)

[2018-02-07 06:53] fsudaman opened #299 "Usability improvements"
Some usability improvements to consider:

- Add shortcuts/hotkeys
- Better handling of diagonal perimeter zone intersections
- Performance improvement on larger drawing. After the first few floors, the drawing area became slightly laggy and mouse click would occasionally not register
- Windows can be defined easily but doesn't seem to be exported and imported correctly into SketchUp

[2018-02-07 12:58] macumber commented on #298
Thanks for the feedback!  If you are using FloorspaceJS with OpenStudio we have made several improvements to the translation of FloorspaceJS to OpenStudio in OS 2.4.1: https://github.com/NREL/OpenStudio/releases/tag/v2.4.1

If you are able to give it a try in that release it would be very helpful for us to know if you problems are relieved at all

[2018-02-12 03:33] fsudaman commented on #298
Hi Dan,
OpenStudio 2.4.1 has resolved the co-linear line issue, seems it now auto-intersects, which eliminates the need to use the 'intersect' function, which side-steps a significant problem ('intersect' has a tendency to shatter models). Here is a response from our engineer using the tool: "Thanks for your response, I've had a play around with the new release, really appreciating how easy matchi

[2018-02-12 03:41] fsudaman opened #300 "Improvement to image scaling"
Image importing is used to overlay drawings on the map, or over the previous floor, so that the floorplan can be traced out. However, currently these images can't be scaled numerically, instead they are resized manually with the cursor. Images also resize from the centre, which means you have to keep adjusting its position as you go.

SketchUp lets you resize an image numerically (ie apply a scali

[2018-02-12 03:52] fsudaman opened #301 "Space deform occasionally"
Our engineer had encountered the following issue a few times. When drawing geometries a space will suddenly and unexpectedly deform occasionally. It seems as though the geometry is generated incorrectly, but the issue is not visible until the relevant line is modified in some way. Please see the attached PDF that demonstrates the issue observed and OSM file to reproduce the problem.

[New Geometry

[2018-02-15 20:23] macumber commented on #276
The preview is implemented in OpenStudio so this issue really belongs there, https://github.com/NREL/OpenStudio/issues/2994

[2018-02-15 20:23] #276 closed, assigned to macumber

[2018-02-20 18:37] shorowit commented on #300
At a minimum, it seems like we should change the behavior so that images resize from the corner being manipulated, not the center.

[2018-02-21 17:08] #248 closed, assigned to macumber

[2018-02-21 17:10] #273 closed, assigned to nobody

[2018-02-21 17:10] #290 closed, assigned to bgschiller

[2018-02-21 17:11] shorowit commented on #285
Looks good in the editor now too.

[2018-02-21 17:11] #285 closed, assigned to bgschiller

[2018-02-21 17:15] shorowit commented on #293
The change was made. We have a separate ticket for allowing the user to change the units on the fly -- https://github.com/NREL/floorspace.js/issues/169.

[2018-02-21 17:15] #293 closed, assigned to bgschiller

[2018-02-21 17:18] macumber commented on #299
Will have to break these up into separate tickets but I think we want to address many of these for 0.8 milestone

[2018-02-21 17:22] macumber commented on #298
Hi @fsudaman feedback through github is great!  We have one more release left in our development (milestone 0.8 on 3/30/2018).  We want to prioritize usability issues from users in this last release.  After that we are hoping that software developers using the tool will continue to improve it for their needs.

[2018-02-21 17:23] macumber commented on #25
Not sure if we really want this?

[2018-02-21 17:25] macumber commented on #104
The issues here are for FloorspaceJS only, so this would apply in the 2D mode

[2018-02-21 17:25] macumber commented on #169
I'm not sure we need this in 0.8?

[2018-02-21 17:25] shorowit commented on #25
Can a user achieve the same result by saving their file, re-opening the app, and opening their saved file? If so, I don't think it's necessary.

[2018-02-21 17:27] macumber commented on #272
This request came from review of the schema by @amirroth

[2018-02-21 17:27] shorowit commented on #104
Maybe we could use thick lines for exterior walls and thin lines for interior walls? Probably wouldn't even need to be a mode.

[2018-02-21 17:28] macumber commented on #104
I like that

[2018-02-21 17:28] shorowit commented on #169
Agreed.

[2018-02-21 17:29] shorowit commented on #275
Weird. It works fine in chrome, but I also see the issue for the version embedded in OpenStudio.

[2018-02-22 03:08] fsudaman commented on #298
In that case I think what is raised in this ticket can be considered done and close. I will raise separate tickets for other improvements. Thanks again for your help.

[2018-02-22 03:08] #298 closed, assigned to nobody

[2018-02-22 03:21] fsudaman opened #302 "Broken Geometry Bug"
It appears that making any geometry change and merging will result in the object state being corrupted. This issue can be reproduced by the following steps (OSM file attached)
[FloorSpace Broken Geometry Bug - Reproduction.zip](https://github.com/NREL/floorspace.js/files/1746522/FloorSpace.Broken.Geometry.Bug.-.Reproduction.zip)

- Overwriting geometry with new spaces
- Erasing part of an existing

[2018-02-22 03:50] macumber commented on #302
Moved to https://github.com/NREL/OpenStudio/issues/3008

[2018-02-22 03:52] macumber commented on #302
@fsudaman thank you for the very detailed report.  Please note, that issues related to the FloorspaceJS widget embedded inside the OpenStudio Application (including translation to OSM and merging with OSM) should be reported in the OpenStudio repository.  This repository is for issues with the JavaScript FloorspaceJS widget only

[2018-02-22 03:52] #302 closed, assigned to nobody

[2018-03-02 23:07] macumber opened #303 "Unable to start embeddable geometry editor due to default arguments in method call"
For some reason, the version of Chromium embedded in OpenStudio Application cannot handle default arguments in a method definition.  I removed the argument's default value and it can now load. Can we make this change in Floorspace to support older versions of Chromium?

https://github.com/NREL/OpenStudio/commit/f7e0e6bb5ad4525cedb68f159f42995c0aadca19

[2018-03-06 04:04] #303 closed, assigned to bgschiller

[2018-03-06 04:21] #294 closed, assigned to macumber

[2018-03-06 04:39] macumber commented on #291
@bgschiller I am still seeing this, can we do a screen share on Wednesday?

[2018-03-06 04:47] #65 closed

[2018-03-06 04:48] #284 closed, assigned to bgschiller

[2018-03-06 04:48] #279 closed, assigned to nobody

[2018-03-06 16:19] bgschiller commented on #291
Yep, definitely.

[2018-03-07 03:16] #291 closed, assigned to bgschiller

[2018-03-13 07:06] fsudaman opened #305 "Usability improvement requests"
As our engineers use this tool more, they have sent through these improvement requests:
- Confirmation dialogues when deleting floors or spaces (It’s too easy to do currently).
- An ‘Orientation’ assignment for spaces, used to create unique and recognizable names for thermal zones.
- Window assignments aren’t carried through beyond FloorSpace, window geometries are retained, but their names are lo

[2018-03-13 14:48] ljbrackney commented on #305
I'm of two minds regarding confirmation on delete - at least for spaces.  Sometimes I want to plow through a lot of deletions, and confirmations would be onerous.  If this feature were to be added, I would want a preference setting for confirmations.

[2018-03-13 16:15] shorowit commented on #305
You should be able to undo deletion of floors/spaces, I tend to feel like that is sufficient?

[2018-03-14 23:12] fsudaman commented on #305
Undo should be sufficient, yes. The context for this was that one of our engineers, when first learning the software, accidentally deleted a floor (see image). For whatever reason he couldn’t undo the change.
Perhaps the real issue is not being able to undo in some situations, and if so the deletion of those elements should prompt a confirmation.

![floorspace deletion button](https://user-images.

[2018-03-14 23:20] fsudaman opened #306 "Read only mode of the model"
Is there a mode to render the 2D floorspace model as read only? What we want is the ability for some user to navigate through the floors, view the spaces and geometries without them having any ability to make changes to to it.

Also, where can we find more information on how to visualize the created model in 3D? Thanks

[2018-03-15 14:44] shorowit commented on #305
If you come across a situation where undo is not available or does not work as intended, please tell us the steps to reproduce to fix it. I did some quick testing and found I was able to undo the deletion of a story, but there very well might be a bug in some situations.

I will open a separate ticket on the delete button issue, that should be improved.

[2018-03-15 14:46] shorowit opened #307 "Delete button not fully visible"
@fsudaman noticed that the delete button (e.g., for a story or space) is not fully visible and could therefore be accidentally clicked. I see this as well.

![37435872-427baa74-2839-11e8-89ed-365534ad9cf1](https://user-images.githubusercontent.com/5861765/37470492-3fa2d6c6-282d-11e8-8b4b-db3c8ce7fd08.png)

[2018-03-15 16:13] macumber commented on #253
This code from OpenStudio could be leveraged via emscripten, https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/utilities/geometry/Intersection.hpp#L101

Alternatively, we could implement a similar method in JavaScript

[2018-03-15 16:18] macumber commented on #299
@fsudaman what specific hotkeys would you like?

[2018-03-15 16:21] macumber commented on #281
@shorowit personally I don't find these confusing at all

@DavidGoldwasser @ljbrackney if you download these webm videos and watch them do you find the presentation of polygon areas before clicking to be confusing?

[2018-03-15 16:34] shorowit commented on #281
This came up in my demo to DOE where I couldn't see the map to trace over it due to this issue. Here's a better example where I can't figure out where the next vertex is supposed to be because it's covered by the polygon:

[FloorspaceJS3.webm.txt](https://github.com/NREL/floorspace.js/files/1816234/FloorspaceJS3.webm.txt)

[2018-03-15 16:41] macumber commented on #178
I like this feature, my only question is how to implement it in the ui?  Would this just be a 'x2' button next to delete?

[2018-03-15 16:41] macumber commented on #178
Also if you copy it, I would suggest incrementing the name:

"Space 1" - > "Space 1 Copy" -> Space 1 Copy 1" -> Space 1 Copy 2"

[2018-03-15 17:06] ljbrackney commented on #281
I think it might be confusing the first time someone was using the tool, but after you know what it's doing it's not too bad.  The third example is problematic - need more transparency in the polygon.

[2018-03-15 17:47] shorowit commented on #281
I’d be fine with increased transparency if that’s easier.

[2018-03-21 20:02] macumber opened #308 "Build and deploy docs with travis"

[2018-03-23 20:26] macumber opened #311 "Units wrong"
Reported by @asparke2, I have been noticing this when drawing my typical test building too.  It seems like the interface is showing units of ft but the grid is actually based on meters.  Andrew suggested tracing a football field for reference, see below, should be 100 m long rather than 100 ft

![image](https://user-images.githubusercontent.com/1327850/37851829-f11ff400-2ea5-11e8-9f47-15c5ddd7dfc8

[2018-03-23 21:04] macumber commented on #311
Fixed by https://github.com/NREL/floorspace.js/commit/b26b7eb4e48eb08b2f65beda56e2a647d11f9f2e

[2018-03-23 21:04] #311 closed, assigned to bgschiller

[2018-03-23 21:04] #308 closed, assigned to bgschiller

[2018-04-11 20:10] shorowit opened #313 "Floor area shows ip2 instead of ft2"
Probably a recent bug.

![image](https://user-images.githubusercontent.com/5861765/38640642-12ec2ab8-3d92-11e8-9414-637b3e2a0f68.png)

[2018-04-11 20:16] bgschiller commented on #301
Note to self: It's possible that "canonicalizing" the geometry after any drawing action could go a long way towards fixing this issue (and others).

Try adding the tests for this, using OpenStudio's idea of 'circular equals': same vertex positions, but potentially wrapping at a different point.

Even if we can't get the canonicalization done in time, the tests could be useful for a future implemen

[2018-04-11 20:16] macumber opened #314 "Performance test"
Draw a medium complex floorplan, duplicate on N stories, ensure that performance does not degrade

[2018-04-11 20:18] macumber commented on #300
Also make the numeric scaling factor editable

[2018-04-11 20:23] macumber opened #315 "Add testing for matrix of Webkit"
Test latest Chromium as well as Chromium 45

[2018-04-11 20:27] bgschiller commented on #275
Note to self: The svg seems to be not flipping because of old chromium embedded in Qt. This should be fixed automatically when OpenStudio updates Qt. However, we should increase the size of the icons a bit.

[2018-04-16 19:50] bgschiller commented on #315
I spent a while on this one with no luck. Since you said you're upgrading the Qt version soon, how important would you say this is?

[2018-04-17 15:58] shorowit commented on #307
Looks good.

[2018-04-17 15:58] #307 closed, assigned to shorowit

[2018-04-17 16:05] #313 closed, assigned to shorowit

[2018-04-17 16:25] bgschiller commented on #104
Thinking about this plan. A couple issues I'm looking at:

We're already using thick lines to indicate the 'selected' space.
![](https://trello-attachments.s3.amazonaws.com/58d428743111af1d0a20cf28/5ad61e9ec72035b60ce5701b/bdfc3bce8c01446ad9295f3354e86bff/capture.png)

Window-wall ratio and repeating windows could cover the exterior wall indicators:
![](https://trello-attachments.s3.amazonaws.com/

[2018-04-18 20:13] macumber opened #320 "Allow use of different branches on testing site"
Allow user to go to https://nrel.github.io/floorspace.js/#{branch_name} to use the build of any branch

[2018-04-18 20:19] bgschiller commented on #104
notes from phone discussion:
- we'll use dotted black lines for interior walls
- solid black lines for exterior walls
- 'currently selected' should have a different color border (maybe blue, and twice as thick)

[2018-05-01 17:19] bgschiller commented on #216
@macumber Is that not already the case for you? This is what I see when I try to choose an image other than a jpeg, png, or gif:
https://trello-attachments.s3.amazonaws.com/58d428743111af1d0a20cf28/5ae8a16eb52300bacf060e82/55e547b3bd48a10a1abf68ed0f02f5bd/recording.webm

[2018-05-01 22:15] macumber commented on #216
It looks like it is working :-)

[2018-05-01 22:15] #216 closed, assigned to macumber

[2018-05-02 16:14] bgschiller commented on #314
Performance _does_ degrade, but it sounds like we're going to leave this with just the test for the moment.

For the future, it's my suspicion that some of this slowdown is caused by the way we're storing the story and geometry models. Each is a list of objects with keys. When we want to update any model, we pass along the story_id, which does a `_.find(stories, { id: storyId })`, to find the corr

[2018-05-02 16:51] bgschiller commented on #281
Ready for testing at https://325-pr-floorspace.js-NREL.surge.sh

[2018-05-02 19:24] bgschiller commented on #271
Ready for testing at https://326-pr-floorspace.js-nrel.surge.sh/

[2018-05-02 19:44] bgschiller commented on #275
Ready for testing at https://327-pr-floorspace.js-nrel.surge.sh/

[2018-05-02 20:15] bgschiller commented on #54
@macumber @shorowit Can you give me more info about what you're looking for here? Is it a hover tooltip to show the area of spaces that already exist, or is it a change to the tooltip that appears during drawing?

[2018-05-02 20:21] bgschiller commented on #253
I have some code in this direction already: [https://github.com/NREL/floorspace.js/blob/develop/src/store/modules/geometry/mergeEdges.js](mergeEdges.js). That could be used for either an automated or user-driven tool for combining edges.

However, I wonder if this has already been (partly) taken care by #322, where I found and fixed few cases that were creating exterior walls that should have been

[2018-05-02 20:25] bgschiller commented on #179
I'm reading this ticket as "When a new story is created, copy the values from the previous story". However, @shorowit also mentions #178, which would do that same thing using a more explicit user action. Perhaps this ticket should be closed in favor of that?

Or maybe the answer here is to change some defaults. The defaults can be changed by modifying geometry_schema.json. Are there changes I shou

[2018-05-02 20:27] #275 closed, assigned to shorowit

[2018-05-02 20:40] macumber commented on #54
It sounds to me like this is a request for a hover tooltip for existing spaces.  @shorowit can confirm or deny

[2018-05-02 20:40] macumber commented on #179
I think you are right, copy function should copy the values, while add new button should pull from the schema.

[2018-05-03 15:44] bgschiller commented on #179
Great. I recommend closing this issue then, unless you have thoughts on what we should change the defaults to, as @ljbrackney suggests.

[2018-05-04 17:53] shorowit commented on #271
Looks good!

[2018-05-04 17:53] #271 closed, assigned to shorowit

[2018-05-04 18:02] shorowit commented on #301
Was playing around with the tool and created a reproducible deformity. Open the attached file and make a drawing change as indicated in the video.

[deformity.json.txt](https://github.com/NREL/floorspace.js/files/1975432/deformity.json.txt)
[FloorspaceJS.webm.txt](https://github.com/NREL/floorspace.js/files/1975436/FloorspaceJS.webm.txt)

Results in this:
![image](https://user-images.githubusercon

[2018-05-04 18:12] shorowit opened #329 "Can't change Window texture"
Minor bug, but when a Window-to-Wall Ratio window is specified, clicking on the Texture dropdown doesn't seem to do anything. I can't change the texture specified.

[2018-05-04 18:16] shorowit commented on #178
This is awesome! I did a bit of testing and it's working well.

I'd prefer that we use shorter names though since they currently don't fit sometimes:

![image](https://user-images.githubusercontent.com/5861765/39645211-bef8f9b2-4f94-11e8-9b66-c7744e7d0ec2.png)

Maybe we can simply do "Space 1" -> "Space 1 (2)" -> "Space 1 (3)"?

[2018-05-04 18:34] shorowit opened #330 "North arrow doesn't update while rotating map"
Minor issue but the north arrow doesn't update as you rotate the map. When you click Done, it jumps to the correct position. Ideally it would update as you rotate the map.

[2018-05-04 18:38] shorowit commented on #179
We updated a number of defaults previously, I think this is good to go.

[2018-05-04 18:38] #179 closed, assigned to nobody

[2018-05-04 18:39] shorowit commented on #281
Much better, thanks!

[2018-05-04 18:39] #281 closed, assigned to shorowit

[2018-05-04 18:47] shorowit commented on #54
Let's defer this for a more comprehensive implementation in the future (see https://github.com/NREL/floorspace.js/issues/280 which covers this request and more).

[2018-05-04 18:49] shorowit commented on #104
Looks like a definite improvement, though I see nothing change when a space is selected.

[2018-05-04 18:54] shorowit commented on #104
It seems like the convention is not preserved on the below-story space outlines. (I actually have no idea how it's choosing solid vs dashed for the below-story spaces right now.)

![image](https://user-images.githubusercontent.com/5861765/39646893-32a5be0e-4f9a-11e8-851d-cceab9352751.png)

![image](https://user-images.githubusercontent.com/5861765/39646902-35b479c8-4f9a-11e8-991c-ec9cbec17e39.png)

[2018-05-04 19:09] bgschiller commented on #104
Oof. I had forgotten about how previous story spaces are shown with dotted borders. Any suggestions on how it should look?

How about same dotted/solid rules as for currently selected story, but the lines are gray instead of black?

[2018-05-04 19:34] shorowit commented on #104
Sounds great to me!

[2018-05-07 16:50] #330 closed, assigned to nobody

[2018-05-07 19:00] shorowit commented on #329
It works initially, but stops working again after I copy the object:

[FloorspaceJS.webm.txt](https://github.com/NREL/floorspace.js/files/1981099/FloorspaceJS.webm.txt)

[2018-05-09 20:14] shorowit commented on #300
Looks good!

[2018-05-09 20:14] #300 closed, assigned to macumber

[2018-05-09 22:55] #329 closed, assigned to shorowit

[2018-05-09 22:56] shorowit commented on #178
Nice.

[2018-05-09 23:00] fsudaman commented on #300
Thanks guys

[2018-05-09 23:00] shorowit commented on #268
Looks great to me.

[2018-05-09 23:00] #268 closed, assigned to macumber

[2018-05-10 23:39] macumber commented on #104
Looks great!

[2018-05-10 23:39] #104 closed, assigned to macumber

[2018-05-29 09:47] ritwikagarwal opened #333 "Vue js docs"
Are the docs given for vue-js and web-pack module for the purpose of explanation of the project or do they have to do something with the installation of floorjs

[2018-05-30 11:30] #333 closed, assigned to nobody

[2018-06-06 12:02] ritwikagarwal commented on #1
Can someone point out what features of the web app are not working on firefox??
I tested the web app link and it works just fine on the firefox.

[2018-06-06 17:46] shorowit commented on #1
Known issues on Firefox have since been fixed (by @bgschiller?). That said, the widget has seen far more testing on Chrome than Firefox, so I don't think any of us really know if there are lingering issues on Firefox.

[2018-06-06 18:09] ritwikagarwal commented on #1
Hmm. I think there are no issues currently on the Firefox versions noticeable.There may be minor ones but to my knowledge the Firefox version is sufficient enough to produce a productive results.

[2018-06-06 18:11] shorowit commented on #1
Cool, I will close the issue then. If anyone experiences any problems on Firefox in the future, please reopen this issue or open a new issue.

[2018-06-06 18:11] #1 closed

[2018-08-17 04:20] Diotti opened #334 "Spaces created but do not show on Preview"
Hi. I created a test building with two floors and the spaces were properly created, but I couldn't see the 3d model under the preview tab not the preview button between "refresh" and "merge" buttons of the editor screen.

The text under debug is pasted below:

QtWebEngine Remote Debugging
http://127.0.0.1:51321/
Floorspace JS
qrc:///library/embeddable_geometry_editor.html

[2018-08-17 04:34] macumber commented on #334
Did you press the merge button to merge your floorplan with the current OSM?

[2018-08-20 02:31] Diotti commented on #334
Hi macumber,

Thank you,
Yes, I did press merge after placing the windows.

PS.
I'm doing the exercise on pages 42, 43 of Building Energy Modeling with OpenStudio, which you co-authored.

[2018-08-23 07:58] Diotti commented on #334
I just installed OpenStudio v2.6 and Floorspace JS works perfectly now.

[2018-08-23 07:58] #334 closed, assigned to nobody

[2018-10-29 12:01] Jopenergy opened #335 "Impossible to set snapMode via api in the html embeddable version"
Little bug in floorspace.js-0.8.0/src/api.js ?

I slightly modified the api settings:

![capture d ecran 2018-10-29 a 12 58 57](https://user-images.githubusercontent.com/15978235/47648547-9bbabe00-db7a-11e8-8c4d-dca28e5f6d0f.png)

Neither "grid-strict" nor "grid-verts-edges" are accepted for snapMode:

![capture d ecran 2018-10-29 a 12 52 03](https://user-images.githubusercontent.com/15978235/4764

[2018-10-29 15:16] Jopenergy opened #336 "Problem with grid size under 1 unity"
When grid spacing is under unity (for example 0.1ft or 0.1m), there is a bug when trying to intersect two spaces.

1. let's draw a space on the 0.1ft grid :
![bug-grid-1](https://user-images.githubusercontent.com/15978235/47659618-a0d93680-db95-11e8-955d-5b2ff08880e0.png)

2. we can check that the space is not snapped on the 1ft grid:
![bug-grid-2](https://user-images.githubusercontent.com/1597823

[2018-11-07 21:50] DavidGoldwasser commented on #336
I'm hitting this as well with 2.5' grid. I have video if interested but here are few screenshots. Note, while my grid is larger than 1, it isn't a multiple of 1. I do see same issue with grid size of 0.5'.

I started with rectangle of entire footprint then started drawing new spaces that cut into that. It over-cuts to whole foot leaving a gap. If I try to fill the gap by enlarging the primary spac

[2018-11-08 17:01] Jopenergy opened #337 "Problem with webpack file-loader while npm run dev: emitFile is required from module system"
Hi,

I tried to launch Floorspace after forking the project locally and in an empty docker container (node 11.1.0, npm 6.4.1).

In both cases the installation (npm install) went well even if I got some little warnings.

[code]

But I encountered the same issue in both cases while trying to run (npm run dev):

[code]

People recommend to turn emitFile to false in the webpack config to solve the pro

[2018-12-11 00:44] fsudaman opened #341 "Export fail due to some unknown internal limits"
Floorspace appears to have a limit to how large a file can be, after which it can’t be exported (/saved). This is mostly a problem when you import images for various floors, as saving/reloading requires you to delete your images and replace them. Image import is quite manual, and you have to resize by eye, so this is both inconvenient and can cause errors.

The attached JSON file contains a half-b

[2018-12-13 20:00] bgschiller commented on #341
Thanks for the report, and the test case. It looks like we're running up against Chrome's 2mb limit for download URLs ( described at https://craignicol.wordpress.com/2016/07/19/excellent-export-and-the-chrome-url-limit/)

That same post describes a solution that doesn't look too tricky.

[2018-12-18 16:03] CassandraGoose commented on #337
Howdy! @Jopenergy, would it be possible to see the Dockerfile you used when running this in an empty container? I'm trying to reproduce the issue. Thanks so much!

[2018-12-18 18:38] bgschiller commented on #337
@CassandraGoose and I were able to get floorspace running without too much trouble using the following Dockerfile, mostly copied from the [vuejs cookbook](https://vuejs.org/v2/cookbook/dockerize-vuejs-app.html):
[code]

Does this work for what you're trying to do? It looks like you were trying to run the dev server from inside docker, but I'd recommend a local setup for the dev server.

[2018-12-19 10:58] Jopenergy commented on #337
As far as I'm concerned, I had actually used the node:latest image with a shared volume and simply had run "npm install". I don't really understand what went wrong... But anyway, it's working great with this Dockerfile !
Thank you!!

[2018-12-19 10:58] #337 closed, assigned to nobody

[2018-12-19 20:11] bgschiller commented on #341
This has been implemented and works with the test case you provided.

[2018-12-19 20:11] #341 closed, assigned to nobody

[2018-12-19 20:12] bgschiller commented on #336
This has been implemented and is live on develop. We've added tests that use sub-unit grid sizes.

[2018-12-19 20:12] #336 closed, assigned to nobody

[2018-12-19 20:13] bgschiller commented on #335
This is fixed and live on develop

[2018-12-19 20:13] #335 closed, assigned to nobody

[2018-12-20 05:25] fsudaman commented on #341
Brilliant. Thanks Brian.

[2019-01-15 06:01] fsudaman opened #348 "Significant performance degradation on complex model"
FloorSpace's performance and responsiveness degrades significantly as models get more complex, to the point where it can be quite arduous to work with or almost unusable.

The attached model allow you to reproduce the issue where an average of 1-2 second delay is observed on every mouse click, which makes it frustrating to do anything other than minor adjustments.

[Performance Degredation.zip](ht

[2019-01-15 06:04] fsudaman opened #349 "Repeating Window Bug"
Repeating windows aren't placed at the correct height (see attached screenshots in the zip file)

The windows seem to be placed at 'Sill Height' above the ground, rather than 'Sill Height' + 'Sum of Lower Floor Heights'

The windows are still associated with the correct spaces (See 'L4 Screenshot' in the attached zip file), they just appear at the wrong position

[Repeating Windows Bug.zip](https:

[2019-01-15 06:17] fsudaman commented on #299
Apology, I completely missed this for months. Thought I have supplied the response a long time ago. Here is the request our engineer put together few months back.

[Shortcuts.docx](https://github.com/NREL/floorspace.js/files/2758231/Shortcuts.docx)

[2019-01-15 06:32] fsudaman opened #350 "Surface Shattering Bug"
We often see mid size to complex models produced using floorspace will have random lines drawn across them, intersecting  and sub-dividing many difference spaces. This issue seems to get worse as building complexity increases. Generally surface areas, mating, and zone assignments are retained. But if the issue gets bad enough surfaces start sub-dividing incorrectly, getting the wrong areas and mat

[2019-01-15 06:36] Mathadon commented on #348
@fsudaman I'm interested to start using floorspace. At what number of zones/rooms/floors/whatever does this start to occur? Thank you!

[2019-01-15 16:34] bgschiller commented on #349
@macumber I'm thinking this is a bug later down the chain, yes? maybe in [NREL/OpenStudio](https://github.com/NREL/OpenStudio)?

[2019-01-15 16:45] macumber commented on #349
Very possible, @fsudaman are you using OpenStudio to translate the FloorspaceJS file?  If so, which version of OpenStudio?

[2019-01-15 23:09] Mkellyeng commented on #349
Hi, I work with @fsudaman
We do use OpenStudio to translate FloorspaceJS files, we're currently using 2.7.0. I'm not aware of any other way to get FloorspaceJS files into IDF format for EnergyPlus?

What's interesting is that windows defined using Window to Wall Ratio come through correctly, but using single or repeating windows places them on the ground floor.

[2019-01-15 23:31] Mkellyeng commented on #348
Hi @Mathadon, I work with @fsudaman
Give it a go, floorspace is very powerful, it's by far the fastest way to draw geometries that I've found.

The lag accumulates over time, but is not too bad up to 100 or so zones. However this was a 4 storey hospital, so it got complex pretty fast. A workaround that I found was saving and then deleting each floor as I went, to reduce the size and thus the lag.

[2019-01-15 23:43] macumber commented on #348
Thanks for the feedback @Mkellyeng, NREL doesn't have any active development activities for FloorspaceJS (we will look at fixing bugs in the OpenStudio FloorspaceJS translator).  However, @bgschiller and others at [Devetry](https://devetry.com/) are very capable of fixing bugs/performance issues in FloorspaceJS.  You might reach out to them if you are interested in discussing ways to work on your

[2019-01-15 23:51] macumber commented on #349
Moved to https://github.com/NREL/OpenStudio/issues/3405

[2019-01-15 23:51] #349 closed, assigned to nobody

[2019-01-16 23:27] bgschiller commented on #348
@Mkellyeng @fsudaman: As @macumber mentioned, there's not a lot of active development on the project (NREL hired us at Devetry to get it to the current state, but there's no current contract).

That said, I have some thoughts on how to clear up some of the lag. I've been noodling on it since this issue was raised and I think there are two main sources:

1. there are several O(n) operations that co

[2019-01-16 23:43] fsudaman commented on #348
Thanks @macumber and @bgschiller  for the details provided here as well as offering the support. I will discuss this with the team and assess if we can take this on. In parallel, I will drop you an email as well to explore the alternate option.

[2019-01-18 05:41] aaroncoderepo commented on #348
I have noticed that adding a new 'Space' to the model linked by @fsudaman is very time consuming. After adding additional console logging it was discovered that the dropDaylightingControls method in mutations.js is taking over 7 seconds to run.

`dropDaylightingControls(state, { story_id }) {
    const story = _.find(state.stories, { id: story_id });
    console.log('number of spaces: ' + story.sp

[2019-01-18 07:25] Mathadon opened #351 "BIM import/export"
All,
Building Information Modeling is gaining attention in my region (Belgium). I'm trying to assess how hard it would be to extend floorspace.js such that it can import and/or export to/from the ifc file format. Is someone able to comment on this?
Thanks!

edit: I guess that this is linked to #225

[2019-01-18 16:41] bgschiller commented on #348
@aaroncoderepo Thanks for your exploration of the causes of the slowness! It will be no problem to add that if-statement.

I'm surprised that the undo/redo stack doesn't seem have an affect on the speed, but 🤷‍♂️.

[2019-01-18 16:45] macumber commented on #351
We did not build in an OSM (3D) to FloorspaceJS (2D) translator because it would be very lossy.  You could translate the floorplan but would lose information about 3D details.  I'm not sure if IFC has a 2D floorplan view, if so maybe that could be exported to the FloorspaceJS JSON format?

[2019-01-18 16:48] macumber commented on #351
The other pathway, FloorspaceJS JSON (2D) to IFC, is certainly possible.  It would just be a translator of the JSON format to IFC.

[2019-01-19 08:35] Mathadon commented on #351
Thanks! I'll close this for now.

[2019-01-19 08:35] #351 closed, assigned to nobody

[2019-01-21 04:44] aaroncoderepo commented on #348
Thanks for reviewing my code, how would you like to proceed @bgschiller ?

I can create a branch, and pull request for this change - but I don't seem to have permissions (403 error) to push a new branch to this repository.

[2019-01-22 17:01] bgschiller commented on #348
@aaroncoderepo you should be able to open a pull request from your fork. If that doesn't work, just point me to where  your repo lives.

[2019-01-22 22:36] aaroncoderepo commented on #348
Unfortunately we found that the performance savings we noticed (with the above change) when debugging locally did not translate when deployed. The seven second delay does not appear in our hosted environment (I can only speculate as to why this is the case).

[2019-02-14 20:25] annlin1995 opened #352 "OpenStudio Window Editor Problem"
Hello,

My team and I are working on a 4-story hospital building energy model. We created the geometry using FloorSpaceJS and Sketchup. The geometry is fine and in working condition; however, whenever we try to create windows - it does not allow us to create new windows without selecting all the windows. So, if you delete one window, it deletes all of it. This prevents us from being able to merge

[2019-02-17 23:02] Mkellyeng commented on #352
Hi Annlin,

You can delete individual windows by clicking on them - click on the edge/window, and a little dialogue comes up that lets you delete only that specific window

Does that solve your problem?
If not, could you provide any more details?
![floorspaceissue_deletewindow](https://user-images.githubusercontent.com/46730121/52920740-34f92480-3364-11e9-9cbe-a72a86ba47e5.png)

[2019-02-18 01:29] Mkellyeng commented on #350
The cause of this issue has been identified, it's due to the OpenStudio intersect and matching that occurs during import.

https://github.com/NREL/OpenStudio/issues/3424

[2019-02-20 05:01] bgschiller commented on #352
Hi @annlin1995 It sounds like you may be using the "repeated windows" functionality. Like you described, that will only allow you to delete windows one wall at a time

https://clip.brianschiller.com/qxpvuzI-2019-02-19-window_groups.mp4

(the first couple times I use that red X, then I use the delete key on my keyboard)

Also, it didn't occur to me until after I made the video, but could you be del

[2019-03-06 21:20] DavidGoldwasser opened #353 "On https://nrel.github.io/floorspace.js/ open and save floorplan icons go away after opening floorplan"
In the past I could open, edit and save an existing floorplan. Now when I open a floorplan, the open and save icons in the interface go away, and I can't save changes being made back to my computer.

cc: @macumber

[2019-03-06 21:28] DavidGoldwasser commented on #353
Additional details: If I make a floorspace.json in web interface, save it and then open it things are fine. I only seem to see this issue if I open in web interface a floorspace.json made by OpenStudio Application.

[2019-04-22 21:36] DavidGoldwasser commented on #353
@macumber this only happens when I load a floorplan made by OS app. If I download a floorplan made in web interface, I can then later re-upload it and not lose the import/save icon.

A work around for me to get space type and construction sets into web interface seems to be by load library.

I assume the case for this could be that the web interface is a development branch and the file format can

[2019-04-22 21:49] macumber commented on #353
@DavidGoldwasser this should be in the OpenStudio repo right?

[2019-04-22 21:57] DavidGoldwasser commented on #353
@macumber No, it is an issue I hit in the web interface, where certain files don't open properly. Maybe they should be versioned, and it doesn't attempt to open it?

The idea at first was to load model from app to here, edit it, save it, then load it back in App, but as soon as I load it, the option to save is gone (in the web interface).

My work around for now can be to lean on the library, as l

[2019-04-24 22:40] DavidGoldwasser commented on #353
@macumber identified that this can be addressed by changing `show_import_export": false` to `show_import_export": true` before uploading a json file written by OS app.

[2019-04-24 22:40] #353 closed, assigned to nobody

[2019-05-22 23:52] Mkellyeng opened #355 "Window Deletion Bug"
If you delete a space that has a window, by using the delete button, you cannot draw any new spaces on that floor.

It appears using the delete button to delete a space doesn't remove windows that are associated with that space, leaving them with a dangling reference.

This results in very strange behaviour that prevents you from drawing any new spaces on that floor. The drawing tools behave as th

[2019-05-25 16:44] macumber opened #357 "Required 'type' key is not documented for space and shading"

[2019-05-28 21:58] bgschiller opened #358 "Include Google Fonts files as first-party assets"
When embedded into OpenStudio, there are sometimes issues with remote assets. To minimize the impact of this problem, we should bundle the google font files as assets in this repo.

[2019-05-28 21:59] bgschiller opened #359 "Gracefully disable map functionality"
When embedded into OpenStudio, there are sometimes issues with remote assets. This includes all map tiles. We should provide an option to turn off maps to prevent triggering this problem.

[2019-05-29 19:19] bgschiller commented on #355
Hi @Mkellyeng, A couple other people have noticed this same problem! I think we have a patch for it over in #356 , but some of the (unrelated) tests are failing. I'm hoping to find time soon to fix up those tests so I can merge the branch in.

[2019-06-13 22:50] DavidGoldwasser commented on #178
@macumber @shorowit At one point we talked about duplicating a story where spaces would be duplicated with the story. Is that something anyone else had an interest in? Currently the story properties are copied, but not the spaces that are on the story. Use case was maybe a 5 story multifamily building where stories are similar but not exactly the same. Was going to copy stories and then modify. Co

[2019-06-14 16:43] bgschiller commented on #178
We've implemented that functionality for Speed's fork of floorspace.js, and it wasn't too difficult to do. Maybe we should just change the behavior of "Copy story" to do as @DavidGoldwasser suggests?

[2019-07-15 23:02] bgschiller commented on #301
I downloaded Scott's `deformity.json` file and saw that, according to the current version of floorspace, Space 1-2 is _already_ invalid at the time of import. (We don't warn about this, but you can check by calling the `validateFaceGeometry` function manually). The error is:

To me, this indicates that we're catching this issue upstream. It would be impossible to create `deformity.json` with today

[2019-07-15 23:02] #301 closed, assigned to nobody

[2019-07-17 21:38] DavidGoldwasser commented on #178
Just reopening this so it is on the radar. I had a use case for this I used a work around for, but would be good to have in the future. cc @macumber

[2019-07-30 01:10] Mkellyeng commented on #178
As a user, this would be a useful feature

[2019-10-01 05:38] DavidGoldwasser opened #363 "Support Standards Building Type and Standards Space Type in Space Type data"
Currently other than space type name, color is only data that can be stored. It would be great to include Standards Building Type and Standards Space Type. This would make it easier to use measure to import JSON into an empty seed model and then run measures that populates space types using the standards gem.

[2019-12-16 21:02] DavidGoldwasser opened #368 "Merge two FloorSpace JS files"
I've had the need to do this a few times recently, and can be sketchy trying to work in text editor to make sure ID's from the two files don't conflict. As they are JSON files I can probably write a script to do this, but could be nice if there was some native support for this.

[2019-12-17 02:42] Mkellyeng commented on #368
You might run into issues with the relative positions of each building, as there's currently no native way to shift spaces around within a floor

[2019-12-19 04:20] DavidGoldwasser commented on #368
Thanks, I'll keep an eye out for that if I do this. Maybe I can make sure to keep 0,0 in sync for the two models, if not I can aways move the spaces once they are OSM files.

[2020-02-04 17:12] DavidGoldwasser commented on #213
@shorowit is this implemented in translation to OSM?

[2020-02-25 14:27] DavidGoldwasser commented on #363
I just wanted to document my work arounds for this.

1. Create an OSM that already has the space types you are going to use (with their standards assignments). Then export that as an FloorSpaceJS. When you go to FloorSpace JS, start from this json file instead of an empty one. You can merge that JSON with geometry back into the a copy of the template OSM. The space types should be linked together.

[2020-02-27 02:11] sarocu commented on #363
A cleaner workflow would be great here. Currently I am creating library files with (my) [SuperStudio CLI](https://github.com/sarocu/superstudio#exporting-a-floorspacejs-library) and uploading them into the editor in order to plug in space type and construction sets, and then using the CLI to find and apply OS-Standards space types (as @DavidGoldwasser suggests).
[code]
It would be nice to skip the

[2020-08-11 18:24] TheEnergyTutor opened #370 "Plenum doors and windows"
Floorspace.js automatically adds unwanted doors and windows to plenums. This is a huge problem. Can you please fix?

https://unmethours.com/question/44307/how-can-i-delete-the-plenum-door/

https://www.youtube.com/watch?v=VS5WNNOfOHY&feature=youtu.be

[2020-08-11 18:27] TheEnergyTutor commented on #225
Yes seriously need this feature.  3-D lighting photometric modeling software is very similar and it allows for import of dwg/dxf.  This is a must have.

[2020-08-12 16:32] bgschiller commented on #225
Hi @TheEnergyTutor ,

As far as I know, there's no one actively developing this project. The contract completed and we moved onto different things. I work at Devetry, the consulting co that did most of the development on this project. If you'd like to talk about setting up a new contract, you can email me at brian@devetry.com .

I'm also happy to review/merge PRs, and to try and point you in the r

[2020-08-12 16:32] bgschiller commented on #370
Please see my note on #225.

[2020-08-14 06:06] macumber commented on #370
This might be an issue in the translation of Floorspace JSON to OpenStudio, that type of bug would be best filed in the [OpenStudio Repository](https://github.com/nrel/openstudio/issues)

[2020-08-14 06:07] macumber commented on #370
In fact, @DavidGoldwasser already added it https://github.com/NREL/OpenStudio/issues/4036

[2020-08-22 20:02] jmarrec commented on #370
Is this fixed via https://github.com/NREL/OpenStudio/pull/4048?

[2020-08-22 20:06] macumber commented on #370
Yes

[2020-10-26 17:20] DavidGoldwasser commented on #253
Just wanted to extend this with example where wall being un-expectedly split by extra vertices is impact how window application occurs. What should be one wall, is two, and results in different window layout which has to avoid straddling the split.

<img width="870" alt="floorspaceJS_issuse1" src="https://user-images.githubusercontent.com/4857055/97205573-44598380-177d-11eb-8694-c1d2c7d0738b.PNG">

[2021-01-17 19:17] macumber opened #375 "Method to sort/arrange spaces in list"
Would want to sort by name, space type, other attributes?

[2021-03-02 17:33] DavidGoldwasser opened #376 "Move selected spaces"
A number of users have expressed interest in either moving the entire floorplan by some x and y amount, although a better feature might also allow this on s selection of spaces.

[2021-03-04 20:08] bgschiller commented on #355
Closing, as I believe this is fixed now that #356 is merged.

[2021-03-04 20:18] bgschiller commented on #363
@DavidGoldwasser, can you check my understanding on this item? We want a new field, `"building_type"` on each space. The UI should offer a dropdown, and the choices are:
[code]

right?

Should space_type also be available, and drawn from the same list of options?

It seems like the best thing would be to have a "building" level of organization, to assign properties that apply to all spaces within

[2021-03-04 20:31] bgschiller commented on #214
@shorowit can you add some details when you get a chance about how each of these other components should look?

For example, daylighting controls required showing the distance to the nearest window interactively, and windows offered some options to decide placement (repeating, wwr, or single) and size. Here are my guesses:

### Skylights

- Have both a width and a height. Or are they sometimes non

[2021-03-04 20:43] bgschiller commented on #368
@DavidGoldwasser, thinking about how to make this most useful. Suppose there's a new button near the import/export ones that does a merge. It would present a modal and prompt you for:

### Merge another floorspace.json into this one

1. Place other floorspace's origin at ____ (default (0,0))
2. Other floorspace's stories should be merged-with-these-ones/stacked-above-these-ones/stacked-below-these

[2021-03-04 20:46] bgschiller commented on #376
we used to have a move tool that allowed exactly this. We removed it because it broke some of our constraints around snapping behavior. However, it turns out those constraints aren't all that binding anyway.

I'd be down to bring it back. Would you want it to be a click-and-drag type interaction, or something more like a dialog where the user can type in an x and y offset?

[2021-03-05 01:57] DavidGoldwasser commented on #363
I'm proposing three new fields. 'template', `building_type` and `space_type`. This would match how OpenStudio works, so that instead of just a space being a `corridor` it can be `ASHRAE 90.1 2004, Primary School, Corridor`.

This should only be applied to a space type, not individually to spaces. I'm fine not supporting a building level default space type, but it isn't necessary if it is problemat

[2021-03-05 04:44] DavidGoldwasser commented on #368
@bgschiller, that seems like a nice approach. For item 2, I suppose if the imported JSON has story of the same name then it would be great to merge it. If it is a story that isn't in the current JSON then I'd be fine with it going on the top. This does require some coordination by the user in the order of operations, but this is kind of an edge case anyway so a little extra prep work on the user i

[2021-03-05 04:47] DavidGoldwasser commented on #376
I'm ok with just a dialog for this, unless you feel drag and drop would be easier. The nice thing about dialog is it provides precision and it allows the spaces to be moved a large distance.

[2021-03-16 17:38] rwadhwa910 opened #377 "Not able to draw more than 4 Story and spaces, Default selected tool is rectangle and working tool is Polygon"
I cannot draw more than 4 stories and when I create a story after the 4th all these gets selected together and at the same time when I try to draw something using Rectangle tool , it does not work instead it uses polygon tool to draw the shape which does not complete a set  meaning if I start the polygon tool and end it at the same point, it should complete my drawing but that does not happen.

OS

[2021-03-16 22:19] Mkellyeng commented on #355
@bgschiller was this fix only for the open studio version? I can still replicate in the online version
![image](https://user-images.githubusercontent.com/46730121/111387175-6c805980-8701-11eb-8326-8fc9eb069a4a.png)

[2021-03-16 22:43] Mkellyeng commented on #377
tl;dr the FS file's internal ID counter broke. The file can be repaired, though it's a little time consuming

I've had this issue before, in my experience it occurs when the internal IDs become invalid for some reason

The two causes that I have found are:
- The internal IDs overflow beyond 16 digits
- The window deletion bug, in which the window ID is left dangling if object are deleted in a part

[2021-03-16 23:22] Mkellyeng opened #378 "Internal IDs appended instead of summed, causing severe bug"
Context: If the internal ID exceeds 16 digits, floorspace enters a severely bugged state where you can't modify the file any further. 16 digits is a lot though, so it should never be a problem

Problem: When you save, close, and reopen a floorspace JSON, the internal ID counter appends "1" to the highest ID, and continues counting from that new number, adding a digit. In practice this means you ca